# Build the DataFrame

The objective of this notebook is prepare the DataFrame for the EDA

In [167]:
# Import the libraries
import pandas as pd
import numpy as np

In [168]:
# Working directory
import os
os.getcwd()

'C:\\Users\\Ospite\\Desktop\\Portfolio\\Portfolio-Projects-main\\2. Netflix movies'

In [169]:
# Import the DataFrame
df = pd.read_excel("data/temporary_netflix_df.xlsx")

## 1. Data Wrangling

Clean, order and validate data

In [170]:
df.sample(5)

,Unnamed: 0,Title,Genre,Premiere,Runtime,IMDB Score,Language,premiere_year,tmdb_id,imdb_id,...,original_title,genre_1,genre_2,country_1,country_2,cast,director,male_actors,female_actors,followers
8,8,A World Without,Science fiction / teen drama,2021-10-14,107,3.7,Indonesian,2021,877372,tt15484488,...,A World Without,Mystery,Thriller,?,?,"['Amanda Rawles', 'Maizura', 'Asmara Abigail',...",['Nia Dinata'],3,6,"['2.8m', '193k', '70.5k', '1.1m', '288k']"
362,362,Murder to Mercy: The Cyntoia Brown Story,Documentary,2020-04-29,97,6.4,English,2020,690596,tt9050898,...,Murder to Mercy: The Cyntoia Brown Story,Documentary,?,United States of America,?,['Cyntoia D. Brown'],['Daniel H. Birman'],0,1,['332k']
295,295,Otherhood,Comedy,2019-08-02,100,6.1,English,2019,531509,tt4180560,...,Otherhood,Comedy,?,United States of America,United Kingdom,"['Angela Bassett', 'Patricia Arquette', 'Felic...",['Cindy Chupack'],10,11,"['2.8m', '167k', '1431', '17.5k', '67.6k']"
253,253,Friendzone,Romantic comedy,2021-09-29,88,5.9,French,2021,869617,tt14700948,...,Friendzone,Romance,Comedy,France,?,"['Mickaël Lumière', 'Manon Azem', 'Éloïse Vall...",['Charles Van Tieghem'],2,2,"['39.7k', '122k', '21.9k', '12.5k']"
431,431,Fear Street Part 3: 1666,Supernatural horror,2021-07-16,114,6.6,English,2021,591275,tt9701942,...,Fear Street: 1666,Mystery,Horror,United States of America,?,"['Kiana Madeira', 'Ashley Zukerman', 'Gillian ...",['Leigh Janiak'],18,14,"['1.2m', '51.3k', '29.7k', '887k', '1.2m']"

### 1.1 Columns data types

In [171]:
df.columns

Index(['Unnamed: 0', 'Title', 'Genre', 'Premiere', 'Runtime', 'IMDB Score',
       'Language', 'premiere_year', 'tmdb_id', 'imdb_id', 'overview',
       'vote_average', 'vote_count', 'title', 'original_title', 'genre_1',
       'genre_2', 'country_1', 'country_2', 'cast', 'director', 'male_actors',
       'female_actors', 'followers'],
      dtype='object')

In [172]:
df.dtypes

Unnamed: 0                 int64
Title                     object
Genre                     object
Premiere          datetime64[ns]
Runtime                    int64
IMDB Score               float64
Language                  object
premiere_year              int64
tmdb_id                    int64
imdb_id                   object
overview                  object
vote_average             float64
vote_count                 int64
title                     object
original_title            object
genre_1                   object
genre_2                   object
country_1                 object
country_2                 object
cast                      object
director                  object
male_actors                int64
female_actors              int64
followers                 object
dtype: object

In [173]:
# Drop unuseful columns
df.drop(columns = ["Unnamed: 0", "Title"], inplace = True)
df.head()

,Genre,Premiere,Runtime,IMDB Score,Language,premiere_year,tmdb_id,imdb_id,overview,vote_average,...,original_title,genre_1,genre_2,country_1,country_2,cast,director,male_actors,female_actors,followers
0,Documentary,2019-08-05,58,2.5,English/Japanese,2019,616904,tt10662450,What is anime? Through deep-dives with notable...,5.8,...,Enter the Anime,Documentary,?,United States of America,Japan,"['Kouzou Morishita', 'Kenji Kamiyama', 'Youko ...",['Alex Burunova'],4,2,"['Kozo', '206', '6495', '2282', '12.6k']"
1,Thriller,2020-08-21,81,2.6,Spanish,2020,735110,tt12536776,"In search of his sister, a renegade criminal s...",4.4,...,Fuego negro,Horror,Action,?,?,"['Tenoch Huerta', 'Eréndira Ibarra', 'Ariane P...",['Bernardo Arellano'],2,2,"['106k', '455k', '2581', '10']"
2,Science fiction/Drama,2019-12-26,79,2.6,Italian,2019,653522,tt11385066,"Loving girlfriend, family fortune, breakout mo...",2.8,...,The App,Drama,Science Fiction,Italy,?,"['Vincenzo Crea', 'Greta Scarano', 'Maya Sansa...",['Elisa Fuksas'],3,3,"['3939', '153k', '8302', '175', '1314']"
3,Comedy,2021-10-26,59,3.1,English,2021,890280,tt15523050,Rap superstar Saweetie hosts a celebration of ...,2.7,...,Sex: Unzipped,Comedy,?,United States of America,?,"['Saweetie', 'Joel Kim Booster', 'Michelle But...",[],3,7,"['12.7m', '101k', '236k', '803k', '870k']"
4,Drama,2021-10-01,128,3.2,English,2021,874562,tt14391622,"Set in the 1980s, Tolani Ajao is a bank secret...",4.7,...,Swallow,Drama,History,?,?,[],['Kunle Afolayan'],0,0,['Create']

In [174]:
# Change column names
df.rename(columns = {"Premiere": "premiere", "Runtime": "runtime", "IMDB Score": "imdb_score", "Language": "language"},
         inplace = True)

### 1.2 Null values

In [175]:
for column in df.columns:
    print(f"The column {column} has {df[column].isnull().sum()} null values")
    print()

The column Genre has 0 null values

The column premiere has 0 null values

The column runtime has 0 null values

The column imdb_score has 0 null values

The column language has 0 null values

The column premiere_year has 0 null values

The column tmdb_id has 0 null values

The column imdb_id has 1 null values

The column overview has 0 null values

The column vote_average has 0 null values

The column vote_count has 0 null values

The column title has 0 null values

The column original_title has 0 null values

The column genre_1 has 0 null values

The column genre_2 has 0 null values

The column country_1 has 0 null values

The column country_2 has 0 null values

The column cast has 0 null values

The column director has 0 null values

The column male_actors has 0 null values

The column female_actors has 0 null values

The column followers has 0 null values

##### "?" values

In [176]:
# Column genre_1
df[df["genre_1"] == "?"]

,Genre,premiere,runtime,imdb_score,language,premiere_year,tmdb_id,imdb_id,overview,vote_average,...,original_title,genre_1,genre_2,country_1,country_2,cast,director,male_actors,female_actors,followers
526,Aftershow / Interview,2020-11-03,14,7.0,English,2020,760880,tt13538282,Guillermo del Toro and Alfonso Cuarón discuss ...,10.0,...,Ya no estoy aquí: Una conversación entre Guill...,?,?,?,?,[],[],0,0,['Create']

In [177]:
df.iloc[526, 13] = "Aftershow"
df.iloc[526, 14] = "Interview"
df.iloc[526, :]

Genre                                         Aftershow / Interview
premiere                                        2020-11-03 00:00:00
runtime                                                          14
imdb_score                                                      7.0
language                                                    English
premiere_year                                                  2020
tmdb_id                                                      760880
imdb_id                                                  tt13538282
overview          Guillermo del Toro and Alfonso Cuarón discuss ...
vote_average                                                   10.0
vote_count                                                        1
title             I’m No Longer Here: A Conversation with Guille...
original_title    Ya no estoy aquí: Una conversación entre Guill...
genre_1                                                   Aftershow
genre_2                                                   Interview
country_1                                                         ?
country_2                                                         ?
cast                                                             []
director                                                         []
male_actors                                                       0
female_actors                                                     0
followers                                                ['Create']
Name: 526, dtype: object

In [178]:
# Column "genre_2"
genre_2 = df[df["genre_2"] == "?"]
genre_2.head()

,Genre,premiere,runtime,imdb_score,language,premiere_year,tmdb_id,imdb_id,overview,vote_average,...,original_title,genre_1,genre_2,country_1,country_2,cast,director,male_actors,female_actors,followers
0,Documentary,2019-08-05,58,2.5,English/Japanese,2019,616904,tt10662450,What is anime? Through deep-dives with notable...,5.8,...,Enter the Anime,Documentary,?,United States of America,Japan,"['Kouzou Morishita', 'Kenji Kamiyama', 'Youko ...",['Alex Burunova'],4,2,"['Kozo', '206', '6495', '2282', '12.6k']"
3,Comedy,2021-10-26,59,3.1,English,2021,890280,tt15523050,Rap superstar Saweetie hosts a celebration of ...,2.7,...,Sex: Unzipped,Comedy,?,United States of America,?,"['Saweetie', 'Joel Kim Booster', 'Michelle But...",[],3,7,"['12.7m', '101k', '236k', '803k', '870k']"
9,Comedy,2020-12-04,112,3.7,Turkish,2020,668156,tt11792734,"A resilient housewife, her husband and their m...",3.9,...,9 Kere Leyla,Comedy,?,Turkey,?,"['Demet Akbağ', 'Haluk Bilginer', 'Elçin Sangu...",['Ezel Akay'],2,2,"['969k', '224k', '8.1m', '150k']"
12,Comedy,2021-06-02,95,4.0,Portuguese,2021,818659,tt14074470,"After a breakup, an influencer takes her frien...",5.3,...,Carnaval,Comedy,?,Brazil,?,"['Giovana Cordeiro', 'Gessica Kayane', 'Bruna ...",['Leandro Neri'],3,5,"['1.1m', '15.1m', '185k', 'Agenciamento', '18...."
15,Documentary,2021-04-22,58,4.1,English,2021,816836,tt14167424,Journalists and fans await Ma Anand Sheela as ...,6.8,...,Searching for Sheela,Documentary,?,India,?,"['Ma Anand Sheela', 'Karan Johar']",['Shakun Batra'],1,1,"['4622', '11.1m']"

In [179]:
genre_2["Genre"].value_counts()

Documentary                   137
Drama                          36
Comedy                         31
Thriller                       12
Aftershow / Interview           5
Biopic                          5
Comedy-drama                    4
Romantic comedy                 4
Sports-drama                    3
Mockumentary                    2
Short                           2
Animation / Short               2
Variety show                    2
Making-of                       2
Black comedy                    2
Satire                          1
Coming-of-age sports drama      1
Horror                          1
Biographical/Comedy             1
Western                         1
Adventure/Comedy                1
Hidden-camera prank comedy      1
Sports film                     1
Science fiction/Drama           1
One-man show                    1
Horror anthology                1
Coming-of-age comedy-drama      1
Teen comedy-drama               1
Comedy mystery                  1
Anthology/Dark comedy           1
Concert                         1
Romance drama                   1
Action                          1
Family                          1
Crime drama                     1
Name: Genre, dtype: int64

In [180]:
# Refill the column with the second genre in "Genre" or put "None"
for index in genre_2.index:
    row = df.iloc[index, :]
    genres = row["Genre"].split("/")
    if len(genres) > 1:
        df.iloc[index, 14] = genres[1].strip()
    else:
        df.iloc[index, 14] = None

df.head(10)

,Genre,premiere,runtime,imdb_score,language,premiere_year,tmdb_id,imdb_id,overview,vote_average,...,original_title,genre_1,genre_2,country_1,country_2,cast,director,male_actors,female_actors,followers
0,Documentary,2019-08-05,58,2.5,English/Japanese,2019,616904,tt10662450,What is anime? Through deep-dives with notable...,5.8,...,Enter the Anime,Documentary,None,United States of America,Japan,"['Kouzou Morishita', 'Kenji Kamiyama', 'Youko ...",['Alex Burunova'],4,2,"['Kozo', '206', '6495', '2282', '12.6k']"
1,Thriller,2020-08-21,81,2.6,Spanish,2020,735110,tt12536776,"In search of his sister, a renegade criminal s...",4.4,...,Fuego negro,Horror,Action,?,?,"['Tenoch Huerta', 'Eréndira Ibarra', 'Ariane P...",['Bernardo Arellano'],2,2,"['106k', '455k', '2581', '10']"
2,Science fiction/Drama,2019-12-26,79,2.6,Italian,2019,653522,tt11385066,"Loving girlfriend, family fortune, breakout mo...",2.8,...,The App,Drama,Science Fiction,Italy,?,"['Vincenzo Crea', 'Greta Scarano', 'Maya Sansa...",['Elisa Fuksas'],3,3,"['3939', '153k', '8302', '175', '1314']"
3,Comedy,2021-10-26,59,3.1,English,2021,890280,tt15523050,Rap superstar Saweetie hosts a celebration of ...,2.7,...,Sex: Unzipped,Comedy,None,United States of America,?,"['Saweetie', 'Joel Kim Booster', 'Michelle But...",[],3,7,"['12.7m', '101k', '236k', '803k', '870k']"
4,Drama,2021-10-01,128,3.2,English,2021,874562,tt14391622,"Set in the 1980s, Tolani Ajao is a bank secret...",4.7,...,Swallow,Drama,History,?,?,[],['Kunle Afolayan'],0,0,['Create']
5,Horror thriller,2018-01-19,94,3.2,English,2018,485774,tt7608028,A teenager and his mother find themselves besi...,3.7,...,The Open House,Horror,Thriller,United States of America,?,"['Dylan Minnette', 'Piercey Dalton', 'Sharif A...","['Matt Angel', 'Suzanne Coote']",7,4,"['7.3m', '2459', '460', '2661', '180']"
6,Mystery,2020-10-30,90,3.4,Hindi,2020,744876,tt10235600,When a restless spirit curses a Punjab village...,5.0,...,काली खुहि,Horror,Drama,India,?,"['Shabana Azmi', 'Sanjeeda Sheikh']",['Terrie Samundra'],0,2,"['149k', '4.4m']"
7,Action,2019-11-01,147,3.5,Hindi,2019,466550,tt6593054,A getaway driver is attracted to a female neig...,5.7,...,Drive,Action,Thriller,India,?,"['Sushant Singh Rajput', 'Jacqueline Fernandez...",['Tarun Mansukhani'],3,2,"['13.2m', '56.3m', '796k', '3.8m', '617k']"
8,Science fiction / teen drama,2021-10-14,107,3.7,Indonesian,2021,877372,tt15484488,"Founded by the power couple, Ali and Sofia Kha...",4.4,...,A World Without,Mystery,Thriller,?,?,"['Amanda Rawles', 'Maizura', 'Asmara Abigail',...",['Nia Dinata'],3,6,"['2.8m', '193k', '70.5k', '1.1m', '288k']"
9,Comedy,2020-12-04,112,3.7,Turkish,2020,668156,tt11792734,"A resilient housewife, her husband and their m...",3.9,...,9 Kere Leyla,Comedy,None,Turkey,?,"['Demet Akbağ', 'Haluk Bilginer', 'Elçin Sangu...",['Ezel Akay'],2,2,"['969k', '224k', '8.1m', '150k']"

In [181]:
df["genre_2"].value_counts()

Drama              84
Comedy             51
Thriller           44
Romance            43
Crime              38
Music              37
Family             16
Action             15
Documentary        14
Mystery            14
Fantasy            12
History            10
Horror             10
Adventure           9
Interview           6
Science Fiction     6
Animation           5
War                 3
TV Movie            3
Western             3
Short               2
Dark comedy         1
Name: genre_2, dtype: int64

###### Drop genre colum
Delete the original "Genre" column because categories are too specific

In [182]:
df.drop(columns = "Genre", inplace = True)

##### Countries columns

In [183]:
# "country_1" column
country_1 = df[df["country_1"] == "?"]
country_1

,premiere,runtime,imdb_score,language,premiere_year,tmdb_id,imdb_id,overview,vote_average,vote_count,...,original_title,genre_1,genre_2,country_1,country_2,cast,director,male_actors,female_actors,followers
1,2020-08-21,81,2.6,Spanish,2020,735110,tt12536776,"In search of his sister, a renegade criminal s...",4.4,25,...,Fuego negro,Horror,Action,?,?,"['Tenoch Huerta', 'Eréndira Ibarra', 'Ariane P...",['Bernardo Arellano'],2,2,"['106k', '455k', '2581', '10']"
4,2021-10-01,128,3.2,English,2021,874562,tt14391622,"Set in the 1980s, Tolani Ajao is a bank secret...",4.7,3,...,Swallow,Drama,History,?,?,[],['Kunle Afolayan'],0,0,['Create']
8,2021-10-14,107,3.7,Indonesian,2021,877372,tt15484488,"Founded by the power couple, Ali and Sofia Kha...",4.4,7,...,A World Without,Mystery,Thriller,?,?,"['Amanda Rawles', 'Maizura', 'Asmara Abigail',...",['Nia Dinata'],3,6,"['2.8m', '193k', '70.5k', '1.1m', '288k']"
47,2021-10-01,117,4.6,English,2021,732305,tt12885272,A princess is thrust onto the world stage. The...,6.8,7,...,Diana: The Musical,History,Music,?,?,"['Roe Hartrampf', 'Ashley Andrews']",['Christopher Ashley'],2,0,"['8682', '3041']"
98,2019-05-14,60,5.2,English,2019,602310,tt9880234,"Hollywood's finest pay tribute to ""Rowan and M...",5.5,13,...,Still Laugh-In: The Stars Celebrate,Comedy,Music,?,?,"['Tiffany Haddish', 'Michael Douglas', 'Lily T...",[],17,15,"['6.8m', '972k', '3689', '65.1m', '8.6m']"
156,2019-02-08,63,5.5,English,2019,580001,tt6373518,Kevin Hart highlights the fascinating contribu...,5.5,33,...,Kevin Hart's Guide to Black History,Comedy,None,?,?,"['Kevin Hart', 'Lil Rel Howery', 'Saniyya Sidn...",['Tom Stern'],3,1,"['128m', '536k', '39k', '965']"
175,2021-10-12,89,5.6,Spanish,2021,878959,tt15478968,Join the creative process behind Nacho Cano’s ...,0.0,0,...,Making Malinche: A Documentary by Nacho Cano,Documentary,Music,?,?,"['Nacho Cano', 'Melissa Barrera', 'Hans Zimmer...",['Marta Hermida'],3,1,"['8435', '499k', '851k', '57k']"
271,2019-08-09,106,6.0,Hindi,2019,559082,tt8998738,"A couple’s caustic, increasingly jarring inter...",5.3,4,...,Jaoon Kahan Bata Ae Dil,Romance,Drama,?,?,[],['Aadish Keluskar'],0,0,['Create']
359,2019-03-29,87,6.3,English,2019,509903,tt8106596,Rodney is an American dreamer. His glass is no...,7.5,2,...,The Legend of Cocaine Island,Documentary,None,?,?,"['Michael Opal', 'Danny Pardo', 'Jesse Yarboro...",['Theo Love'],3,0,"['13', '1358', '13.3k']"
386,2018-09-28,116,6.4,Spanish/Catalan,2018,549599,tt8893608,Lawmakers and activists with conflicting ideol...,7.0,19,...,Dos Cataluñas,Documentary,None,?,?,"['Carles Puigdemont', 'Mariano Rajoy', 'Inés A...","['Gerardo Olivares', 'Álvaro Longoria']",2,2,"['294k', '82.7k', '175k', '28.1k']"
414,2017-07-28,83,6.5,English,2017,432789,tt5990342,"Burned by a bad breakup, a struggling New York...",6.2,157,...,The Incredible Jessica James,Romance,Comedy,?,?,"['Jessica Williams', ""Chris O'Dowd"", 'Noël Wel...",['Jim Strouse'],5,7,"['303k', '1090', '50.3k', '1.1m', '6704']"
510,2018-10-12,57,6.9,English,2018,553539,tt9046548,"In 1976, reggae icon Bob Marley survived an as...",6.8,44,...,ReMastered: Who Shot the Sheriff,Documentary,None,?,?,"['Jimmy Cliff', 'Bob Marley', 'Philip Agee', '...",['Kief Davidson'],5,0,"['28.4k', '6.1m', '18', '919k', 'Reagan']"
526,2020-11-03,14,7.0,English,2020,760880,tt13538282,Guillermo del Toro and Alfonso Cuarón discuss ...,10.0,1,...,Ya no estoy aquí: Una conversación entre Guill...,Aftershow,Interview,?,?,[],[],0,0,['Create']
535,2019-03-22,70,7.0,English,2019,553644,tt9046568,"Ambushed by Ulster loyalists, three members of...",6.9,12,...,ReMastered: The Miami Showband Massacre,Documentary,None,?,?,['Ken Livingstone'],['Stuart Sender'],1,0,['122']
545,2019-04-20,97,7.1,English,2019,589871,tt10050782,Weed. Marijuana. Grass. Pot. Whatever you pref...,6.9,27,...,Grass Is Greener,Documentary,None,?,?,"['Snoop Dogg', 'B-Real', 'Killer Mike', 'Chuck...",['Fab 5 Freddy'],5,0,"['65.1m', '218k', '1.7m', '676k', '116k']"
561,2018-11-13,91,7.1,English,2018,561556,tt9203030,Grammy-winning singer Loudon Wainwright III re...,8.0,2,...,Loudon Wainwright III: Surviving Twin,Music,None,?,?,['Loudon Wainwright III'],[],1,0,['1034']
562,2020-10-15,41,7.1,Bengali,2020,753272,tt8995696,"In rural India, a child with hydrocephalus get...",7.3,15,...,Rooting for Roona,Documentary,None,?,?,[],"['Pavitra Chalam', 'Akshay Shankar']",0,0,['Create']
568,2020-04-10,92,7.2,English,2020,688848,tt12027020,Photographer Estevan Oriol and artist Mister C...,7.0,28,...,LA Originals,Documentary,None,?,?,"['Estevan Oriol', 'Mister Cartoon', 'Snoop Dog...",['Estevan Oriol'],11,0,"['444k', '800k', '65.1m', '32.8m', '1.2m']"
596,2021-08-03,96,7.3,German,2021,850329,tt15036416,Max S. reveals how he built a drug empire from...,7.8,52,...,Shiny_Flakes: The Teenage Drug Lord,Documentary,Crime,?,?,['Maximilian Schmidt'],"['Michael Schmitt', 'Eva Müller']",1,0,['4212']
602,2015-05-22,83,7.3,English,2015,261039,tt3692768,Drop out of school to ride with the Merry Pran...,7.3,18,...,"The Other One: The Long, Strange Trip of Bob Weir",Documentary,Music,?,?,['Bob Weir'],['Mike Fleiss'],1,0,['365k']
603,2020-10-13,47,7.3,English,2020,752885,tt13150606,"In this musical special, the Octonauts must fi...",10.0,1,...,Octonauts and the Great Barrier Reef,Family,Music,?,?,"['Simon Greenall', 'Rob Rackstraw', 'Jo Wyatt'...",['Blair Simmons'],3,1,"['556', '540', '220', '11k']"
609,2019-02-08,64,7.3,English,2019,553646,tt9046564,This investigation examines the mysterious sho...,6.9,39,...,ReMastered: The Two Killings of Sam Cooke,Documentary,None,?,?,"['Sam Cooke', 'Jim Brown', 'Quincy Jones', 'Sm...",['Kelly Duane de la Vega'],4,1,"['38.6k', '61.7k', '798k', '116k', '69.5k']"
652,2019-04-19,76,7.7,English,2019,596204,tt10050766,Brené Brown is a research professor at the Uni...,7.0,31,...,Brené Brown: The Call to Courage,Documentary,None,?,?,['Brené Brown'],['Sandra Restrepo'],0,1,['3.7m']
681,2018-12-16,153,8.5,English,2018,563708,tt8716334,Springsteen on Broadway is a solo acoustic per...,8.1,35,...,Springsteen On Broadway,Music,Documentary,?,?,['Bruce Springsteen'],['Thom Zimny'],1,0,['1.2m']

In [184]:
country_1["language"].value_counts()

English            17
Spanish             2
Hindi               1
German              1
Bengali             1
Spanish/Catalan     1
Indonesian          1
Name: language, dtype: int64

In [185]:
# We replace the country_1 column with the "Language" column
for index in country_1.index:
    row = df.iloc[index, :]
    language = row["language"]
    if language == "English":
        df.iloc[index, 14] = "USA"
    elif language == "Spanish" or language == "Spanish/Catalan":
        df.iloc[index, 14] = "Spain"
    elif language == "Hindi":
        df.iloc[index, 14] = "India"
    elif language == "Bengali":
        df.iloc[index, 14] = "Bangladesh"
    elif language == "German":
        df.iloc[index, 14] = "Germany"
    else:
        df.iloc[index, 14] = "Indonesia"

df.head(5)

,premiere,runtime,imdb_score,language,premiere_year,tmdb_id,imdb_id,overview,vote_average,vote_count,...,original_title,genre_1,genre_2,country_1,country_2,cast,director,male_actors,female_actors,followers
0,2019-08-05,58,2.5,English/Japanese,2019,616904,tt10662450,What is anime? Through deep-dives with notable...,5.8,51,...,Enter the Anime,Documentary,None,United States of America,Japan,"['Kouzou Morishita', 'Kenji Kamiyama', 'Youko ...",['Alex Burunova'],4,2,"['Kozo', '206', '6495', '2282', '12.6k']"
1,2020-08-21,81,2.6,Spanish,2020,735110,tt12536776,"In search of his sister, a renegade criminal s...",4.4,25,...,Fuego negro,Horror,Action,Spain,?,"['Tenoch Huerta', 'Eréndira Ibarra', 'Ariane P...",['Bernardo Arellano'],2,2,"['106k', '455k', '2581', '10']"
2,2019-12-26,79,2.6,Italian,2019,653522,tt11385066,"Loving girlfriend, family fortune, breakout mo...",2.8,105,...,The App,Drama,Science Fiction,Italy,?,"['Vincenzo Crea', 'Greta Scarano', 'Maya Sansa...",['Elisa Fuksas'],3,3,"['3939', '153k', '8302', '175', '1314']"
3,2021-10-26,59,3.1,English,2021,890280,tt15523050,Rap superstar Saweetie hosts a celebration of ...,2.7,3,...,Sex: Unzipped,Comedy,None,United States of America,?,"['Saweetie', 'Joel Kim Booster', 'Michelle But...",[],3,7,"['12.7m', '101k', '236k', '803k', '870k']"
4,2021-10-01,128,3.2,English,2021,874562,tt14391622,"Set in the 1980s, Tolani Ajao is a bank secret...",4.7,3,...,Swallow,Drama,History,USA,?,[],['Kunle Afolayan'],0,0,['Create']

In [186]:
# "country_2" column
country_2 = df[df["country_2"] == "?"]
country_2.head()

,premiere,runtime,imdb_score,language,premiere_year,tmdb_id,imdb_id,overview,vote_average,vote_count,...,original_title,genre_1,genre_2,country_1,country_2,cast,director,male_actors,female_actors,followers
1,2020-08-21,81,2.6,Spanish,2020,735110,tt12536776,"In search of his sister, a renegade criminal s...",4.4,25,...,Fuego negro,Horror,Action,Spain,?,"['Tenoch Huerta', 'Eréndira Ibarra', 'Ariane P...",['Bernardo Arellano'],2,2,"['106k', '455k', '2581', '10']"
2,2019-12-26,79,2.6,Italian,2019,653522,tt11385066,"Loving girlfriend, family fortune, breakout mo...",2.8,105,...,The App,Drama,Science Fiction,Italy,?,"['Vincenzo Crea', 'Greta Scarano', 'Maya Sansa...",['Elisa Fuksas'],3,3,"['3939', '153k', '8302', '175', '1314']"
3,2021-10-26,59,3.1,English,2021,890280,tt15523050,Rap superstar Saweetie hosts a celebration of ...,2.7,3,...,Sex: Unzipped,Comedy,None,United States of America,?,"['Saweetie', 'Joel Kim Booster', 'Michelle But...",[],3,7,"['12.7m', '101k', '236k', '803k', '870k']"
4,2021-10-01,128,3.2,English,2021,874562,tt14391622,"Set in the 1980s, Tolani Ajao is a bank secret...",4.7,3,...,Swallow,Drama,History,USA,?,[],['Kunle Afolayan'],0,0,['Create']
5,2018-01-19,94,3.2,English,2018,485774,tt7608028,A teenager and his mother find themselves besi...,3.7,1154,...,The Open House,Horror,Thriller,United States of America,?,"['Dylan Minnette', 'Piercey Dalton', 'Sharif A...","['Matt Angel', 'Suzanne Coote']",7,4,"['7.3m', '2459', '460', '2661', '180']"

In [187]:
country_2["language"].value_counts()

English                       389
Hindi                          35
Spanish                        30
French                         19
Portuguese                     17
Italian                        14
Indonesian                     12
German                          9
Korean                          8
Japanese                        7
Turkish                         7
Polish                          6
Dutch                           4
Marathi                         3
Swedish                         3
English/Spanish                 3
Filipino                        3
Thai                            2
English/Hindi                   2
Georgian                        1
English/Taiwanese/Mandarin      1
English/Mandarin                1
English/Japanese                1
Spanish/Basque                  1
English/Russian                 1
Malay                           1
Spanish/Catalan                 1
Tamil                           1
Bengali                         1
Spanish/English                 1
Name: language, dtype: int64

In [188]:
# We replace "country_2" with the second language if possible otherwise "None"
for index in country_2.index:
    row = df.iloc[index, :]
    languages = row["language"].split("/")
    if len(languages) > 1:
        df.iloc[index, 15] = languages[1].strip()
    else:
        df.iloc[index, 15] = None

df.head(10)

,premiere,runtime,imdb_score,language,premiere_year,tmdb_id,imdb_id,overview,vote_average,vote_count,...,original_title,genre_1,genre_2,country_1,country_2,cast,director,male_actors,female_actors,followers
0,2019-08-05,58,2.5,English/Japanese,2019,616904,tt10662450,What is anime? Through deep-dives with notable...,5.8,51,...,Enter the Anime,Documentary,None,United States of America,Japan,"['Kouzou Morishita', 'Kenji Kamiyama', 'Youko ...",['Alex Burunova'],4,2,"['Kozo', '206', '6495', '2282', '12.6k']"
1,2020-08-21,81,2.6,Spanish,2020,735110,tt12536776,"In search of his sister, a renegade criminal s...",4.4,25,...,Fuego negro,Horror,Action,Spain,None,"['Tenoch Huerta', 'Eréndira Ibarra', 'Ariane P...",['Bernardo Arellano'],2,2,"['106k', '455k', '2581', '10']"
2,2019-12-26,79,2.6,Italian,2019,653522,tt11385066,"Loving girlfriend, family fortune, breakout mo...",2.8,105,...,The App,Drama,Science Fiction,Italy,None,"['Vincenzo Crea', 'Greta Scarano', 'Maya Sansa...",['Elisa Fuksas'],3,3,"['3939', '153k', '8302', '175', '1314']"
3,2021-10-26,59,3.1,English,2021,890280,tt15523050,Rap superstar Saweetie hosts a celebration of ...,2.7,3,...,Sex: Unzipped,Comedy,None,United States of America,None,"['Saweetie', 'Joel Kim Booster', 'Michelle But...",[],3,7,"['12.7m', '101k', '236k', '803k', '870k']"
4,2021-10-01,128,3.2,English,2021,874562,tt14391622,"Set in the 1980s, Tolani Ajao is a bank secret...",4.7,3,...,Swallow,Drama,History,USA,None,[],['Kunle Afolayan'],0,0,['Create']
5,2018-01-19,94,3.2,English,2018,485774,tt7608028,A teenager and his mother find themselves besi...,3.7,1154,...,The Open House,Horror,Thriller,United States of America,None,"['Dylan Minnette', 'Piercey Dalton', 'Sharif A...","['Matt Angel', 'Suzanne Coote']",7,4,"['7.3m', '2459', '460', '2661', '180']"
6,2020-10-30,90,3.4,Hindi,2020,744876,tt10235600,When a restless spirit curses a Punjab village...,5.0,15,...,काली खुहि,Horror,Drama,India,None,"['Shabana Azmi', 'Sanjeeda Sheikh']",['Terrie Samundra'],0,2,"['149k', '4.4m']"
7,2019-11-01,147,3.5,Hindi,2019,466550,tt6593054,A getaway driver is attracted to a female neig...,5.7,37,...,Drive,Action,Thriller,India,None,"['Sushant Singh Rajput', 'Jacqueline Fernandez...",['Tarun Mansukhani'],3,2,"['13.2m', '56.3m', '796k', '3.8m', '617k']"
8,2021-10-14,107,3.7,Indonesian,2021,877372,tt15484488,"Founded by the power couple, Ali and Sofia Kha...",4.4,7,...,A World Without,Mystery,Thriller,Indonesia,None,"['Amanda Rawles', 'Maizura', 'Asmara Abigail',...",['Nia Dinata'],3,6,"['2.8m', '193k', '70.5k', '1.1m', '288k']"
9,2020-12-04,112,3.7,Turkish,2020,668156,tt11792734,"A resilient housewife, her husband and their m...",3.9,21,...,9 Kere Leyla,Comedy,None,Turkey,None,"['Demet Akbağ', 'Haluk Bilginer', 'Elçin Sangu...",['Ezel Akay'],2,2,"['969k', '224k', '8.1m', '150k']"

### 1.3 Duplicate rows

In [189]:
print(f"The dataset has {df.duplicated().sum()} duplicate rows")

The dataset has 0 duplicate rows

### 1.4 Data coherence: 'IMDB Score' column

In [190]:
# The column cannot have "ratings" greater than 10 or less than 0
for film in df['imdb_score']:
    incoherent_data = []
    if film > 10 or film < 0:
        incoherent_data.append(film)
    else:
        pass

print(f"The column 'imdb_score' has {len(incoherent_data)} incoherent values")

The column 'imdb_score' has 0 incoherent values

### 1.5 Data cleaning: 'followers' column

###### Special list to clean

In [191]:
followers = []

for i in df.index:
    row = df.iloc[i, -1]
    row = row.replace("[", "").replace("]","").replace("'","").replace(" ","").split(",")
    followers.append(row)

len(followers)

684

In [192]:
# Hundred of thousands
n = 0

for lista in followers:
    x = 0
    for i in lista:
        if len(i) == 4:
            followers[n][x] = (i.replace("k", "000"))
            x += 1
        else:
            x +=1
    n += 1    
    
followers

[['Kozo', '206', '6495', '2282', '12.6k'],
 ['106000', '455000', '2581', '10'],
 ['3939', '153000', '8302', '175', '1314'],
 ['12.7m', '101000', '236000', '803000', '870000'],
 ['Create'],
 ['7.3m', '2459', '460', '2661', '180'],
 ['149000', '4.4m'],
 ['13.2m', '56.3m', '796000', '3.8m', '617000'],
 ['2.8m', '193000', '70.5k', '1.1m', '288000'],
 ['969000', '224000', '8.1m', '150000'],
 ['3.8m', '4333', '45.4k', '17.3k', '1074'],
 ['165000', '771000', '45.6k', '58k', '403'],
 ['1.1m', '15.1m', '185000', 'Agenciamento', '18.4m'],
 ['975', '2m', '48.5k', '22.7k', '231'],
 ['12.4m', '861000', '17.9m', '2090', '11.2k'],
 ['4622', '11.1m'],
 ['12.1m', '4272', '192000', 'Related', '107000'],
 ['3.7m', '2', '16.1k', '1m'],
 ['3.6m', '934000'],
 ['1.9m', '52.4k', '161', '576', '2.2m'],
 ['81.8k', 'Aidan', '529', '179', '361'],
 ['5m', '6.2m', '104000', '115000', '253000'],
 ['2893', '19.3k', '161000', '29', '4083'],
 ['3676'],
 ['40.1m', '3.5m', '4.2m', '293000', '2.1m'],
 ['Create'],
 ['13.9m', '767000', '599000', '111000', '2.9m'],
 ['21m', '21.3k', '193000', '6369', '73.1k'],
 ['Photo', '4.1m', '38', '지승현.', '96.8k'],
 ['1.9m', '316000', 'Official', '28.6k', '2138'],
 ['4.2m', '6.8m', '128m'],
 ['Nat', '1.1m', '6369', '1.2m', '730'],
 ['34m', '6.9m', '1.3m', '16k', '668000'],
 ['5.4m', '61.5k', '430000', 'Photo', '506000'],
 ['10.1m', '1.4m', 'ᴊᴀsᴏɴ', '191000', '1.3m'],
 ['Y', '16.7k', 'J', '2135', '16.8k'],
 ['16.2k', '195000', '78.8k', '91.5k', 'Contact'],
 ['139000', '565000'],
 ['3.6m', '119000', '821000', '26.5k', '83.5k'],
 ['Create'],
 ['68.9k', '647000', '241000', '922', '638'],
 ['16.5k', '135', '530000', '54.4k', '164000'],
 ['12.8k', '73', '3538', '952000', '771'],
 ['3935', 'Pagina', '1738', '554000', 'Attore', ''],
 ['4493', '1137'],
 ['1.1m', '6.1m', 'Antonio', '456000', 'Rafael'],
 ['Create'],
 ['8682', '3041'],
 ['53.4k', '3935', '3155', '465', 'Discover'],
 ['777000', '143000', '1821', 'Gabriel.', '783'],
 ['8.8m', '237'],
 ['333000', '286000', '143000', '135000', '146000'],
 ['Create'],
 ['19m', '5.8m', '10.8m', '1.6m', '4.3m'],
 ['Create'],
 ['1.2m', '2.8m', '14.2k', '1m'],
 ['11.8m', '6.9m', '5417', '55.6k', '2.5m'],
 ['149000', '56k', '11.7k', '185', 'annkathringotze.'],
 ['2209', '71.8k', '58.9k', '124', '126'],
 ['99.5k', 'the', '12.9m', '38.3k', '5776'],
 ['4.1m', '1.5m', '13.2k', '81.4k', '3624'],
 ['56.3m', '3.4m', '525', '52.1k'],
 ['389000', '27.8k', '39.6k', '58.2k', '68.1k'],
 ['2m', '1m', '6969', '7208', '62'],
 ['12m', '245000', '252000', '628000', '8023'],
 ['53.3k', '2.5m', '104000', '9756', 'Mi000e'],
 ['1.2m', '12.4m', '1.2m', '701000', '236000'],
 ['6.4m', '19.2m', '18.1m', '20.9k', '4.5m'],
 ['28.8k', '3249', '164000', '17.3k', '67.6k'],
 ['6745', '165000', '29.9k'],
 ['48.7k', '137000', '25', '5826', '21.3k'],
 ['3596', '50.8k', '158000', '24.5k', '10.6k'],
 ['6.1m', '292000', '473000', '718000', '70k'],
 ['343000', '73.1k', '7m', '24.6k', '19.3k'],
 ['21.4m', '118000', '46.3m', '21.4m', 'Mikaela.'],
 ['26.4k', '3', 'Award', '78.1k', '14'],
 ['11.7k', '101000', '17.6k', '672', '1499'],
 ['192'],
 ['2.4m', '737000', '1.2m', '248', '1m'],
 ['1.1m', '18.4m', '8504', '107000', '21.4m'],
 ['24.3m', '202000', '372000', '2m', 'Show'],
 ['Create'],
 ['45.7k', '40', '28.6k', '23.8k', '58.4k'],
 ['3.1m', '6.2m', '105000', '913000', '3.2m'],
 ['52.3k', '16.1k', '808', '388', '220000'],
 ['29.7k', '283000', '349000', '29.2k', '46.6k'],
 ['1.6m', '26.6m', '55.6k', '1.4m', '138000'],
 ['11.8m', '4.3m', '5417', '1674', '7409'],
 ['3055', '10', '264', '34.7k', '1313'],
 ['47.6k', '68.9k'],
 ['9904', 'Danté', '별을', '14.1k', '4'],
 ['11.8m', '1.7m', '1.4m', '8.3m', '996000'],
 ['2.5m', '461', '1.6m', '113000', '1.6m'],
 ['65.1k', '463000', '1.2m', '265000', '21.4m'],
 ['182000', '35.6k', '31.5k', '349000', '2270'],
 ['11.8m', '1.7m', '1.5m', '131000', '1.4m'],
 ['103000', '1.8m', '118000', '914000', '1.1m'],
 ['263000', '330000', '6908', '9779', '118'],
 ['6.8m', '972000', '3689', '65.1m', '8.6m'],
 ['446000', '501', '378000', '9402', '94.9k'],
 ['396000', '124', '131', '4541', '197'],
 ['34.9m', '47.6m', '241', '106'],
 ['212000', '1.6m', '180000', '12.2k', '19.8k'],
 ['4.5m', '26.1k', '17.6k', '1.1m', '510'],
 ['53.5k', '12.3k', '4398', '69k'],
 ['7169', '305', '16.1k', '7801', '2320'],
 ['Thanapob_Lee.', '1.1m', '516000'],
 ['408000', '1m', '1.1m', '4809', '1.8m'],
 ['827', '40', '1303', '4843'],
 ['542000', '151000', '534000', '47.2k'],
 ['1.1m', '41.2k', '380000', '12.9k'],
 ['89.2k', '14.2m', '31.7k', '12.1m', '95.9k'],
 ['9568', '24', '37.5k', '85.6k', '20.9k'],
 ['5.1m', '186000', '6m', '9039', '373000'],
 ['2795', '32.8k', '1831', '110', '1755'],
 ['3.8m', '13.9m', '569000', '9848', '153000'],
 ['8.7m', '1331', '203000', '62.7k', '306000'],
 ['5.7m', '375000', '115000', '553000', '637000'],
 ['66.7k', '5630', '545', '3068', '888'],
 ['378000', '27.7k', '11.9k', '2907', '211000'],
 ['335000', '976000'],
 ['576000', '81.5k', '858', '20.2k', '8601'],
 ['24.4k', '70', '1.4m', '1m', '2296'],
 ['Create'],
 ['718000', '359000', '506000', '451000', '45.4k'],
 ['1.1m', '285000', '108000', '1.6m', '26.1k'],
 ['6.1m', '466000', '138000', 'Eric', '14.6k'],
 ['26.7m', '235000', '1.4m', '118000', '281000'],
 ['2.3m', '576000', '1m', '99.2k', ''],
 ['1m', '735000', '25.2k', '1.2m', '511000'],
 ['43m', '285000', '134000', '6817', '3938'],
 ['35k', '70.9k', '158', '19.9k', '4736'],
 ['2.8m', '981000', '2516', '66k', '152000'],
 ['15.6k', '15.9k', '5125', '26.7k', '32.1k'],
 ['120000', '72.5k', '265000', '1.7m', '11m'],
 ['377000', '6.3m', '407', '1.1m', '373000'],
 ['4.4m', '969000', '880000', '868000', '...'],
 ['413000', '37.8k', '213000', '4236', '168000'],
 ['576000', '81.5k', '858', '20.2k', '8601'],
 ['5.4m', '2.6m', 'Official', '430000', '163000'],
 ['17.9k', '211000', '111000', '977', '2225'],
 ['41.6m', '392000', '842000', '627', '110000'],
 ['588000', '10.9k', '5.1m', '160000', '384'],
 ['21m', 'Show', '56.3k', '6784'],
 ['433', '55', 'Shion.', '720000', '740'],
 ['100000', '17', '265000', '19.4k', '450000'],
 ['189000', '10.3k', '34.1k', '151m', '30.1k'],
 ['62.3k', '181000', '4532', '65.7k', '34.2k'],
 ['296000', '62.4k', '487000', '494000', '749000'],
 ['3m', '348', '6404', '187000', '10.4k'],
 ['16.6m', '3.4m', '73k', '121000', '665000'],
 ['14.8k', '868000', '1674', 'anagasteyer.', '39.4k'],
 ['6.8m', '7.4m', '459000', '66.8k', '32.2k'],
 ['2.8m', '3.6m', '396', '3613', '194000'],
 ['277000', '8.8m', '2232'],
 ['2m', '673000', '396000', '2.6m'],
 ['128m', '536000', '39k', '965'],
 ['3.6m', '2.8m', '221000', '396000', '1561'],
 ['37.9k', '77k', 'Show', '11k', '22'],
 ['Nollywood', '376000', 'Pastor', ''],
 ['4831', '9292', '25.6k', '116', '283'],
 ['1078', '451'],
 ['198000', '151000', '104000', '710', '1.8m'],
 ['212000', '819000', '1090', '162000', '10.8k'],
 ['43m', '95.1k', '637000', '24.9k', '97'],
 ['Create'],
 ['26.1k', '6551', '3543', '5385', '29'],
 ['39.8m', '184000', '323000', '4.8m'],
 ['667000', '14k', '18', '163000', '327000'],
 ['63.1k', '5437', '3615', '9343', '48.3k'],
 ['6.8m', '1m', '150000', '5298', '8468'],
 ['72.7k', '16.8m', '262000', '97.4k', '908000'],
 ['Create'],
 ['293000', '598000', '410000', '10.9k', '8002'],
 ['38.8k', '4113', '30.2k', '164000', '1.9m'],
 ['8435', '499000', '851000', '57k'],
 ['ɪʟɪᴢᴀ.', '306000', '213000', '91.7k', '1.8m'],
 ['3935', '103000', '1738', '20.2k', 'Giovanni'],
 ['315000', '4.7m'],
 ['1301'],
 ['807000', '532000', '3m', '1.5m', '1.7m'],
 ['160000', '25', '283000', '204000', '1135'],
 ['112000', '37.9k', '28.7k', '454000', '771'],
 ['34.1k', '103000', '162000', 'The', '8737'],
 ['6.8m', '41.7k', '41.2k', '888', '7487'],
 ['16.9m', '5237', '2.8m', '219000', '409000'],
 ['578', '186000', '2.4m', '2m', '4m'],
 ['Paco', '26.4k', '325000', '154000', '2498'],
 ['42.3k', '7650', '293000', '80.7k', '14.5m'],
 ['5771', '11.3k', '18', '606', '8'],
 ['11.8m', '2.5m', '403000', '16.4k', '996000'],
 ['7m', '4.4m', '63.1k', '62.6k', '573'],
 ['6.8m', '606000', '282000', '20.1k', '42.5k'],
 ['7m', '6941', '80.1k', '1643', '4095'],
 ['11.5m', '3.8m', '6.4m', '4.8m', '461'],
 ['174000', '', '33.3k', '61.9k', '15.3k'],
 ['Create'],
 ['803000', '136000', '243000', '2.1m', '3624'],
 ['865000', '2.1m', '167000', '728000', '1331'],
 ['2.8m', '571000', '102000', '409000', '751'],
 ['64.9k', '17.6k', '16.1k', '8957', '321'],
 ['8.3m', '186000'],
 ['20.4k',
  '5m',
  '2.1m',
  '762000',
  'www.netflixqueue.com/delroy-lindo-is-a-legend'],
 ['2.5m', '467000', '324000', '676000', '7'],
 ['3.1m', '1.5m', '1m', '110000', '25.6k'],
 ['84.3k', '1295', '7489', 'View', '1077'],
 ['16.8k'],
 ['748000', '3.1m', '1.8m', '1m', '851000'],
 ['2732', '19.4m', 'Mar', '3.5m', '55.4k'],
 ['14.2m', '1.1m', '9848', '46.5k', '1.1m'],
 ['3.2m', '283000', '67.6k', '8897', '613'],
 ['549000', '89.3k', '135000', '533000'],
 ['8.2m', '3.1m', '80.6k', '113000', '5967'],
 ['4081', '1645', '73.8k', 'Top', '3516'],
 ['50.3k', '852000', '70.9k', '91.6k', '53.4k'],
 ['1.1m',
  'shoe4africa.org/cause/kristine-froseth.',
  '17.5m',
  '146000',
  '1.6m'],
 ['1m', '3259', '3724', '653000', 'An'],
 ['46.8k', '1.1m', '1.1m', '2.2m', '430000'],
 ['312000', '96.8k', '620000', '329000', '770'],
 ['6.4m', '35.2k', '687000'],
 ['521000', '112000', '135000', '1849', '314000'],
 ['576000', '81.5k', '858', '20.3k', '8601'],
 ['118000', '172000', '27.9k', '29.2k', '46.5k'],
 ['725000', '464000', '188'],
 ['10k', '343', '2690', '649', '435'],
 ['32.4k', '8m', '530000', '180000', '435000'],
 ['17.5m', '26.7m', '9.7m', '189000', '540'],
 ['467000', '1.1m', '6.4m', 'Emily', '21.4m'],
 ['18', '19.7k', '15.9k', '10.8k', '2848'],
 ['297000', '3584', '843000', '35.8k', 'albertojolee.'],
 ['21.2m', '117000', '41.3k', '226000', '153000'],
 ['11.8k', '130000', '1.4m', '264', '1384'],
 ['19m', '10.8m', '5.8m', '1.6m', '4.3m'],
 ['459000', '3.4m', '582000', '289000', '503000'],
 ['2589', '2776', '6828', '15k', '28.5k'],
 ['7m', '3.5m', '39.2k', '168', '430'],
 ['2.9m', '8366', '3796', '29', '4193'],
 ['709000', '9.6m', '58.2k', 'Nega', '57.7k'],
 ['2893', '233000', '678000', '4813', 'annkathringotze.'],
 ['724'],
 ['3.2m', '17.5k', '1m', '2092', '251000'],
 ['177000', '255000', '136000', '4', '2747'],
 ['3.3m', '110000', '117000', '231000', '13.6m'],
 ['1.5m', '2.8m', '550', '1.2m', '365'],
 ['3.7m', '458000', '3.7m', '1.1m', '647000'],
 ['1m', '37.9k', '198000'],
 ['1.7m', '21.3k', '41.3k', '280000', '2350'],
 ['1.8m', '54.4k', '167000', '227000', '3242'],
 ['Create'],
 ['abbi', 'Dave', '22.5k', '14.2k', '180000'],
 ['128000', '298000', '506000', '401000', '6812'],
 ['5150', '12.3k', '6672'],
 ['Create'],
 ['39.7k', '122000', '21.9k', '12.5k'],
 ['8.5m', '860000', '553', '336', '287000'],
 ['95.3k', '78.3k'],
 ['381000', '13.7k', '2908', '1.9m', '403000'],
 ['1m', '87.1k', '826000', '177', '7m'],
 ['94', '36.9k', '2764', '1532', '123'],
 ['80k', '105000', '511000', '31.9k', '58k'],
 ['1.4m', '16.8m', '39.4k', '430000', '10.8k'],
 ['6.2m', '62.9k', '7280', '1414', '2911'],
 ['327000', '454000', '632000', '33.1k', '86'],
 ['598000', '6m', '7.9m', '6.4m', '949000'],
 ['3m', '1.4m', '79.9k', '135000', '1503'],
 ['11.8m', '38.5m', '3.1m', '518', '52.3k'],
 ['19m', '5.8m', '10.8m', '1.6m', '1134'],
 ['43m', '285000', '6817', '7757', '193000'],
 ['"Dont"', '17.5m', '4.5m', '3m', '1189'],
 ['737000', '52.8k', '7849', '973', '548000'],
 ['13.4m', '1.2m', '234000', '1.1m', '67.9k'],
 ['Create'],
 ['3.3m', '6637', '675', '341', '1.9m'],
 ['4445', '1m', 'Open', '100000', '269000'],
 ['393000', '302000', '336000', '14', '256'],
 ['26k', '10.3m', '636', '2778', '122000'],
 ['55k', '61.3k', '26.8k', '4466', '231000'],
 ['42.6k', '3m', '82.1k', '158000', '8259'],
 ['512000', '105000', '274000', 'Resines.', '218000'],
 ['26.6m', '19.4m', '894000', '236000', '4.5m'],
 ['14.9m', '26.4k', '9.1m', '3212', '4994'],
 ['15.1k', '15.8k', '5777', '1055', '367'],
 ['1.8m', 'iamkristindavis.', '186000', '2785', '722'],
 ['1611', '128', 'Style', '2326', '1.8m'],
 ['5235', '290000', '145000', '2445', '72.5k'],
 ['1.5m', '113000', '15.2k', '6044', '534000'],
 ['1.7m', '55k', '23.1k', '38.5k', '88k'],
 ['39.7m', '118000', '73k', '1m', '665000'],
 ['17.1m', '321000', '985000', 'Show', '3.7m'],
 ['peeweeherman', '2.4m', '1405', '144000', '2.3m'],
 ['119000', '2.1m', '76.7k', '80.7k', '160000'],
 ['1186', '5.1m', '161000', '66.8k', '19'],
 ['2894', '1742', '3.2m', '16.8k', '90.4k'],
 ['1.8m', '10.6k', '20.9k', '252000', '387000'],
 ['26.2k', '116000', '59.1k', '467000', '4.7m'],
 ['2.8m', '167000', '1431', '17.5k', '67.6k'],
 ['11.8m', '5817', '3.2m', '11.2k'],
 ['40k', '171', '7336', '279', '2m'],
 ['2237', '136000', '8791', '1720', '869'],
 ['3.3m', '984000', '371', '1m', '476'],
 ['183000', '11.4k', '8', '6215', '80.2k'],
 ['374000', '272000', '474000', '56.2k', '53.5k'],
 ['212000', '224000', '392000', '346000', '185000'],
 ['838000', '1.1m', '370', '120000', '519'],
 ['23.4k', '762000', '2.6m', '29.2k', '963000'],
 ['Create'],
 ['7.1m', '110000', '353', '2.3m', '792000'],
 ['163000', '80.1k', '33.5k', '25.8', '30.4k'],
 ['deebradleybaker.', '641', '1015', '1668', 'Keythe'],
 ['48.5k', 'valentina', '34.7k', '1111', '165'],
 ['170000', 'karra_elejalde_oficial.', '5580', '312000', 'A'],
 ['138000', '11.7m', 'See'],
 ['1.5m', '@cmxmexico', '1.3m', '949000', '2241'],
 ['12m'],
 ['15'],
 ['7.4m', '623', '374000', '1.2m', '90'],
 ['23.8k', '8645', '107000', '141', '722000'],
 ['67.1k', '823000', '3.6m', '10.8k', '13'],
 ['1.2m', '887000', '1.2m', '491000', '243000'],
 ['4.1m', '2.7m', '64k', '8695', '4.2m'],
 ['45.5k', '25.3k', '381000', '53.5k', '10.8k'],
 ['556', '540', '220', '11k'],
 ['17.6m', '891000', '104', 'ɪʟɪᴢᴀ.', '49.9k'],
 ['978000', '542000', '129000', '888000', '685'],
 ['42.1k', '73.7k', '21.1k', '367000', '61.2k'],
 ['150000', '2.3m', '281000', '164000', '75'],
 ['29.9k', '656', '268', '137000', '71.2k'],
 ['"Dont"', '17.5m', '8.4m', '3m', '9.4m'],
 ['31.1k', '367', '870', '21.9k', '2649'],
 ['3.2m', '67.5k', '56.7k'],
 ['54k', '3796', '31.4k', '11.7k', '187000'],
 ['319000', '2147', '53', '278000', '1m'],
 ['Edmilson', '1m', '528000', '917000', '456000'],
 ['77.8k', '312000', '3270', '1282', '28.4k'],
 ['5m', '11.3m', '870000', '15k', '33.8k'],
 ['162000', '994000', '861000'],
 ['56m', '142000', '262000', '195000', '3.8m'],
 ['85.8k', '82.1k', '6309', '783', '3604'],
 ['62.3k', '35.4k', '91.2k', '173', '449000'],
 ['Create'],
 ['10.1m', '1090', '980', '1119', '1m'],
 ['16.3m', '392000', '53.2k', '14.1k', '18.8k'],
 ['9402'],
 ['6057', '1.2m', '"Recomendacioness"', '24.7k', '13'],
 ['1.2m', '43m', '5.5m', '5305', '371000'],
 ['Create'],
 ['28.7k', '45.9k', '666', '80.7k', '18.8k'],
 ['2.6m', '75.4k', '4640', '120000', '104000'],
 ['467000', '5124', '1100', '1.1m', '1.8m'],
 ['269000', '72.9k', '10.8k', '4302', '454000'],
 ['214000', '292000', '39k', '13.7k', '7680'],
 ['598000', '136000', '3m', '112000', '2.3m'],
 ['7m', '472000', '454000', '8162', '43.8k'],
 ['10.1m', '281000', '214000', '262000', '6522'],
 ['Lee', '484000', '2m', '214000', '2.7m'],
 ['124', '1.3m', '17.5m', '666', '1831'],
 ['44m', '255000', '1.1m', '19.9m', 'Tame'],
 ['67.9k', '2.8m', '1.8m', '11.3k', '1820'],
 ['6.1m', '1.1m', 'Antonio', '1777', 'Rafael'],
 ['13', '1358', '13.3k'],
 ['5m', '1.1m', '18.7k', '92.4k', '51.3k'],
 ['24.5k', '19.5k', '213000', '431000'],
 ['332000'],
 ['332000', '2098', '2.8m', '5515', '10.8m'],
 ['275m', '1m', '733000'],
 ['1.8m', '276000', '1496', 'Ja000e', '7151'],
 ['Create'],
 ['13.2k', '742000', '1155', '69.8k', '962'],
 ['701', '299000', '299000', '870000', '14.8k'],
 ['1.1m', '247000', '14', '3716', '14'],
 ['Create'],
 ['1.1m', '3.2m', '17.3m', '6.8m', '3.3m'],
 ['212000', '529000', '14k', '2748', '336'],
 ['11.3k', '791000', '1.2m', '225000', '5.1m'],
 ['5.3m', 'Ana.', '1.6m', '3749', '215000'],
 ['2816'],
 ['Create'],
 ['Create'],
 ['58.1k'],
 ['1.1m', '5.9m', '371000', '20.6k', '262000'],
 ['14.4k', '46.9k', '3389', '3296', '11.6k'],
 ['Create'],
 ['2.3m', '20.6m', '3.3m', '21.4m', '1.8m'],
 ['36.1m', '2.2m', '23.4k', '40.8k'],
 ['109000', '62.2k', 'Verified.', '105000', '19.4k'],
 ['3m', '26', '1.6m', '88.7k', '3'],
 ['294000', '82.7k', '175000', '28.1k'],
 ['21.4k', '37.4k', '475000', '71.3k', '7'],
 ['77.7k', '868000', '3.9m', '8.3m', '708'],
 ['170000', '6.8m', '15k', '29.2k', '3043'],
 ['571000', '12.8k', '181000', '161000', '1187'],
 ['Create'],
 ['4.5m', '771000', '151m', '2.3m', '140m'],
 ['459000', '116000', '1.7m', '693000', '1844'],
 ['Create'],
 ['120', '78.8k', '352000', '172000', '13.7k'],
 ['5.3m', '435000', '372000', '103', '275000'],
 ['35m', '3447', '1.8m', '1.8m'],
 ['11.2m', '8.3m', '3.2m', '10', '22.2k'],
 ['842000', '3.2m', '2730', '1.1m', '147000'],
 ['1437', '20.4k', '55', '47.7k', '2729'],
 ['804000', '18.8k', '49.3k', '330000', '446000'],
 ['Create'],
 ['131000', '123', '128', '367', '872000'],
 ['118000', '729', '1191', '39', '40'],
 ['11.2k', 'Photo', '204000', '1506', '1284'],
 ['41', '292000', '400'],
 ['3.4m', '501000', '1480', '6.3m', '15.3k'],
 ['Create'],
 ['74.9k', '112000', '3.3m', '192', '15.2k'],
 ['254000', '1828', '61.5k', 'Profundamente', '319000'],
 ['10.6k', '286000', '280000', '34.9k', '391000'],
 ['73.5k', '949000', '146000', '278000', '18.9k'],
 ['Gellért'],
 ['303000', '1090', '50.3k', '1.1m', '6704'],
 ['2.8m', '314000', '1.1m', '864000', '4.2m'],
 ['446000', '220000', '90.4k'],
 ['22.8k', '104000', '35.5k', '68.8k', '11.5k'],
 ['Photo', '96.2k', '5582', '60.1k', '1168'],
 ['1.7m', '23.7m', '765'],
 ['785000', '6m', '5.7m', '1.4m', '6.4m'],
 ['4302', '2169', '4095', '251000', '987'],
 ['51', '32.8k', '4851'],
 ['18.4k', '78.7k', '8929', 'Jonathan'],
 ['48.7k', '2240', '62', '16k', '4924'],
 ['2.5m', '536000', '6.8m', '124000', '2377'],
 ['1.1m', '440000', '336', '40.2k', '117000'],
 ['261000', '108000', '126000', '12.7k', '3509'],
 ['104000', 'Greta', '14.2k', '5', '2104'],
 ['303000', '89.8k', '75k', '337000', '815000'],
 ['16.7m', '2.3m', '38.9m', '730000', '26.7m'],
 ['1.2m', '51.3k', '29.7k', '887000', '1.2m'],
 ['Create'],
 ['116000', '1.6m'],
 ['64.7m', '58.4m'],
 ['7.5m', 'Kim', '16', '267', '154000'],
 ['390', '67.1k', '2.4m', '34.8k', '2640'],
 ['79.5k', '11k', '27.4k', '3912', '24.4k'],
 ['Create'],
 ['13.2m', '286000', '21.1k', '722000', '529000'],
 ['114000', '48', '325000', '41k', '757'],
 ['2.2m', '9895', '2', '10.6m', '27.1k'],
 ['Create'],
 ['5562', '803000', '554000', '286000', '396000'],
 ['51.3m', '141000', '3.4m', '11.8m', '3.8m'],
 ['15.3k', 'Reagan', '46'],
 ['18.5k', '10.6k', '3506'],
 ['14.5k', '125000', '40.6k', '85', '19.3k'],
 ['325', '56k', '16.7k', '37.2k', '17'],
 ['131000', '29.5k'],
 ['Create'],
 ['91.6k', '84.7k', '205000', '5.2m', '324000'],
 ['Create'],
 ['667000', '110m'],
 ['1.3m', '36.2k', '34.2k', '269000', '904'],
 ['61.6k', '963000', '654000', '1.4m', '389000'],
 ['135000', '865000', '1.3m', '1495', '2m'],
 ['14.5m', '1.2m', '371000', '150000', '291000'],
 ['3.5m', '1.3m', '9.8m', '97', '186000'],
 ['4485', '959', '47', '16', '241000'],
 ['538000', '8.3m', '525'],
 ['5.8m'],
 ['377000', '374000', '6.9m', '487000', '3.4m'],
 ['5.6m', '834000', '165', '11.6k', '2.2m'],
 ['85.9k', '7.7m'],
 ['6.2m', '324000', '324000'],
 ['4548', '1.3m', '398000', 'Verified.', '107000'],
 ['6.7m', '166000', '157000', '79.5k', '42.3k'],
 ['4.1m', '2.4m', '970', '380000'],
 ['4077'],
 ['32.8k', '676', '1046', '1249', '95.9k'],
 ['La', '8.6m', '963000', '1.1m', '537000'],
 ['8.6m', '963000', '1.1m', '537000', '11.8k'],
 ['7.4m', '11.4k', '8.5m', '984000', '269'],
 ['949000'],
 ['Create'],
 ['1.3m', '2m', '865000', '194000', '13'],
 ['201000', '750', '6869', '26.4k', '1414'],
 ['Create'],
 ['2.8m'],
 ['390'],
 ['198', '1'],
 ['80.7k', '1086', '22.7k', '2783', '634'],
 ['619', '11', '3877', '2', '638000'],
 ['90.7k', '409000', '352000'],
 ['Create'],
 ['24m', '59.1k', '135000', '7650', '614'],
 ['685000', '20.6m', '2098', '1.9m', '1.3m'],
 ['2.9m', '23.1k', '23.4k', '37.9k', '102'],
 ['11.4k', '3043', '2040', '16', '2003'],

In [193]:
# Thousands
n = 0

for lista in followers:
    x = 0
    for i in lista:
        followers[n][x] = (i.replace("k", "00"))
        x += 1
    n += 1    
    
followers

[['Kozo', '206', '6495', '2282', '12.600'],
 ['106000', '455000', '2581', '10'],
 ['3939', '153000', '8302', '175', '1314'],
 ['12.7m', '101000', '236000', '803000', '870000'],
 ['Create'],
 ['7.3m', '2459', '460', '2661', '180'],
 ['149000', '4.4m'],
 ['13.2m', '56.3m', '796000', '3.8m', '617000'],
 ['2.8m', '193000', '70.500', '1.1m', '288000'],
 ['969000', '224000', '8.1m', '150000'],
 ['3.8m', '4333', '45.400', '17.300', '1074'],
 ['165000', '771000', '45.600', '5800', '403'],
 ['1.1m', '15.1m', '185000', 'Agenciamento', '18.4m'],
 ['975', '2m', '48.500', '22.700', '231'],
 ['12.4m', '861000', '17.9m', '2090', '11.200'],
 ['4622', '11.1m'],
 ['12.1m', '4272', '192000', 'Related', '107000'],
 ['3.7m', '2', '16.100', '1m'],
 ['3.6m', '934000'],
 ['1.9m', '52.400', '161', '576', '2.2m'],
 ['81.800', 'Aidan', '529', '179', '361'],
 ['5m', '6.2m', '104000', '115000', '253000'],
 ['2893', '19.300', '161000', '29', '4083'],
 ['3676'],
 ['40.1m', '3.5m', '4.2m', '293000', '2.1m'],
 ['Create'],
 ['13.9m', '767000', '599000', '111000', '2.9m'],
 ['21m', '21.300', '193000', '6369', '73.100'],
 ['Photo', '4.1m', '38', '지승현.', '96.800'],
 ['1.9m', '316000', 'Official', '28.600', '2138'],
 ['4.2m', '6.8m', '128m'],
 ['Nat', '1.1m', '6369', '1.2m', '730'],
 ['34m', '6.9m', '1.3m', '1600', '668000'],
 ['5.4m', '61.500', '430000', 'Photo', '506000'],
 ['10.1m', '1.4m', 'ᴊᴀsᴏɴ', '191000', '1.3m'],
 ['Y', '16.700', 'J', '2135', '16.800'],
 ['16.200', '195000', '78.800', '91.500', 'Contact'],
 ['139000', '565000'],
 ['3.6m', '119000', '821000', '26.500', '83.500'],
 ['Create'],
 ['68.900', '647000', '241000', '922', '638'],
 ['16.500', '135', '530000', '54.400', '164000'],
 ['12.800', '73', '3538', '952000', '771'],
 ['3935', 'Pagina', '1738', '554000', 'Attore', ''],
 ['4493', '1137'],
 ['1.1m', '6.1m', 'Antonio', '456000', 'Rafael'],
 ['Create'],
 ['8682', '3041'],
 ['53.400', '3935', '3155', '465', 'Discover'],
 ['777000', '143000', '1821', 'Gabriel.', '783'],
 ['8.8m', '237'],
 ['333000', '286000', '143000', '135000', '146000'],
 ['Create'],
 ['19m', '5.8m', '10.8m', '1.6m', '4.3m'],
 ['Create'],
 ['1.2m', '2.8m', '14.200', '1m'],
 ['11.8m', '6.9m', '5417', '55.600', '2.5m'],
 ['149000', '5600', '11.700', '185', 'ann00athringotze.'],
 ['2209', '71.800', '58.900', '124', '126'],
 ['99.500', 'the', '12.9m', '38.300', '5776'],
 ['4.1m', '1.5m', '13.200', '81.400', '3624'],
 ['56.3m', '3.4m', '525', '52.100'],
 ['389000', '27.800', '39.600', '58.200', '68.100'],
 ['2m', '1m', '6969', '7208', '62'],
 ['12m', '245000', '252000', '628000', '8023'],
 ['53.300', '2.5m', '104000', '9756', 'Mi000e'],
 ['1.2m', '12.4m', '1.2m', '701000', '236000'],
 ['6.4m', '19.2m', '18.1m', '20.900', '4.5m'],
 ['28.800', '3249', '164000', '17.300', '67.600'],
 ['6745', '165000', '29.900'],
 ['48.700', '137000', '25', '5826', '21.300'],
 ['3596', '50.800', '158000', '24.500', '10.600'],
 ['6.1m', '292000', '473000', '718000', '7000'],
 ['343000', '73.100', '7m', '24.600', '19.300'],
 ['21.4m', '118000', '46.3m', '21.4m', 'Mi00aela.'],
 ['26.400', '3', 'Award', '78.100', '14'],
 ['11.700', '101000', '17.600', '672', '1499'],
 ['192'],
 ['2.4m', '737000', '1.2m', '248', '1m'],
 ['1.1m', '18.4m', '8504', '107000', '21.4m'],
 ['24.3m', '202000', '372000', '2m', 'Show'],
 ['Create'],
 ['45.700', '40', '28.600', '23.800', '58.400'],
 ['3.1m', '6.2m', '105000', '913000', '3.2m'],
 ['52.300', '16.100', '808', '388', '220000'],
 ['29.700', '283000', '349000', '29.200', '46.600'],
 ['1.6m', '26.6m', '55.600', '1.4m', '138000'],
 ['11.8m', '4.3m', '5417', '1674', '7409'],
 ['3055', '10', '264', '34.700', '1313'],
 ['47.600', '68.900'],
 ['9904', 'Danté', '별을', '14.100', '4'],
 ['11.8m', '1.7m', '1.4m', '8.3m', '996000'],
 ['2.5m', '461', '1.6m', '113000', '1.6m'],
 ['65.100', '463000', '1.2m', '265000', '21.4m'],
 ['182000', '35.600', '31.500', '349000', '2270'],
 ['11.8m', '1.7m', '1.5m', '131000', '1.4m'],
 ['103000', '1.8m', '118000', '914000', '1.1m'],
 ['263000', '330000', '6908', '9779', '118'],
 ['6.8m', '972000', '3689', '65.1m', '8.6m'],
 ['446000', '501', '378000', '9402', '94.900'],
 ['396000', '124', '131', '4541', '197'],
 ['34.9m', '47.6m', '241', '106'],
 ['212000', '1.6m', '180000', '12.200', '19.800'],
 ['4.5m', '26.100', '17.600', '1.1m', '510'],
 ['53.500', '12.300', '4398', '6900'],
 ['7169', '305', '16.100', '7801', '2320'],
 ['Thanapob_Lee.', '1.1m', '516000'],
 ['408000', '1m', '1.1m', '4809', '1.8m'],
 ['827', '40', '1303', '4843'],
 ['542000', '151000', '534000', '47.200'],
 ['1.1m', '41.200', '380000', '12.900'],
 ['89.200', '14.2m', '31.700', '12.1m', '95.900'],
 ['9568', '24', '37.500', '85.600', '20.900'],
 ['5.1m', '186000', '6m', '9039', '373000'],
 ['2795', '32.800', '1831', '110', '1755'],
 ['3.8m', '13.9m', '569000', '9848', '153000'],
 ['8.7m', '1331', '203000', '62.700', '306000'],
 ['5.7m', '375000', '115000', '553000', '637000'],
 ['66.700', '5630', '545', '3068', '888'],
 ['378000', '27.700', '11.900', '2907', '211000'],
 ['335000', '976000'],
 ['576000', '81.500', '858', '20.200', '8601'],
 ['24.400', '70', '1.4m', '1m', '2296'],
 ['Create'],
 ['718000', '359000', '506000', '451000', '45.400'],
 ['1.1m', '285000', '108000', '1.6m', '26.100'],
 ['6.1m', '466000', '138000', 'Eric', '14.600'],
 ['26.7m', '235000', '1.4m', '118000', '281000'],
 ['2.3m', '576000', '1m', '99.200', ''],
 ['1m', '735000', '25.200', '1.2m', '511000'],
 ['43m', '285000', '134000', '6817', '3938'],
 ['3500', '70.900', '158', '19.900', '4736'],
 ['2.8m', '981000', '2516', '6600', '152000'],
 ['15.600', '15.900', '5125', '26.700', '32.100'],
 ['120000', '72.500', '265000', '1.7m', '11m'],
 ['377000', '6.3m', '407', '1.1m', '373000'],
 ['4.4m', '969000', '880000', '868000', '...'],
 ['413000', '37.800', '213000', '4236', '168000'],
 ['576000', '81.500', '858', '20.200', '8601'],
 ['5.4m', '2.6m', 'Official', '430000', '163000'],
 ['17.900', '211000', '111000', '977', '2225'],
 ['41.6m', '392000', '842000', '627', '110000'],
 ['588000', '10.900', '5.1m', '160000', '384'],
 ['21m', 'Show', '56.300', '6784'],
 ['433', '55', 'Shion.', '720000', '740'],
 ['100000', '17', '265000', '19.400', '450000'],
 ['189000', '10.300', '34.100', '151m', '30.100'],
 ['62.300', '181000', '4532', '65.700', '34.200'],
 ['296000', '62.400', '487000', '494000', '749000'],
 ['3m', '348', '6404', '187000', '10.400'],
 ['16.6m', '3.4m', '7300', '121000', '665000'],
 ['14.800', '868000', '1674', 'anagasteyer.', '39.400'],
 ['6.8m', '7.4m', '459000', '66.800', '32.200'],
 ['2.8m', '3.6m', '396', '3613', '194000'],
 ['277000', '8.8m', '2232'],
 ['2m', '673000', '396000', '2.6m'],
 ['128m', '536000', '3900', '965'],
 ['3.6m', '2.8m', '221000', '396000', '1561'],
 ['37.900', '7700', 'Show', '1100', '22'],
 ['Nollywood', '376000', 'Pastor', ''],
 ['4831', '9292', '25.600', '116', '283'],
 ['1078', '451'],
 ['198000', '151000', '104000', '710', '1.8m'],
 ['212000', '819000', '1090', '162000', '10.800'],
 ['43m', '95.100', '637000', '24.900', '97'],
 ['Create'],
 ['26.100', '6551', '3543', '5385', '29'],
 ['39.8m', '184000', '323000', '4.8m'],
 ['667000', '1400', '18', '163000', '327000'],
 ['63.100', '5437', '3615', '9343', '48.300'],
 ['6.8m', '1m', '150000', '5298', '8468'],
 ['72.700', '16.8m', '262000', '97.400', '908000'],
 ['Create'],
 ['293000', '598000', '410000', '10.900', '8002'],
 ['38.800', '4113', '30.200', '164000', '1.9m'],
 ['8435', '499000', '851000', '5700'],
 ['ɪʟɪᴢᴀ.', '306000', '213000', '91.700', '1.8m'],
 ['3935', '103000', '1738', '20.200', 'Giovanni'],
 ['315000', '4.7m'],
 ['1301'],
 ['807000', '532000', '3m', '1.5m', '1.7m'],
 ['160000', '25', '283000', '204000', '1135'],
 ['112000', '37.900', '28.700', '454000', '771'],
 ['34.100', '103000', '162000', 'The', '8737'],
 ['6.8m', '41.700', '41.200', '888', '7487'],
 ['16.9m', '5237', '2.8m', '219000', '409000'],
 ['578', '186000', '2.4m', '2m', '4m'],
 ['Paco', '26.400', '325000', '154000', '2498'],
 ['42.300', '7650', '293000', '80.700', '14.5m'],
 ['5771', '11.300', '18', '606', '8'],
 ['11.8m', '2.5m', '403000', '16.400', '996000'],
 ['7m', '4.4m', '63.100', '62.600', '573'],
 ['6.8m', '606000', '282000', '20.100', '42.500'],
 ['7m', '6941', '80.100', '1643', '4095'],
 ['11.5m', '3.8m', '6.4m', '4.8m', '461'],
 ['174000', '', '33.300', '61.900', '15.300'],
 ['Create'],
 ['803000', '136000', '243000', '2.1m', '3624'],
 ['865000', '2.1m', '167000', '728000', '1331'],
 ['2.8m', '571000', '102000', '409000', '751'],
 ['64.900', '17.600', '16.100', '8957', '321'],
 ['8.3m', '186000'],
 ['20.400',
  '5m',
  '2.1m',
  '762000',
  'www.netflixqueue.com/delroy-lindo-is-a-legend'],
 ['2.5m', '467000', '324000', '676000', '7'],
 ['3.1m', '1.5m', '1m', '110000', '25.600'],
 ['84.300', '1295', '7489', 'View', '1077'],
 ['16.800'],
 ['748000', '3.1m', '1.8m', '1m', '851000'],
 ['2732', '19.4m', 'Mar', '3.5m', '55.400'],
 ['14.2m', '1.1m', '9848', '46.500', '1.1m'],
 ['3.2m', '283000', '67.600', '8897', '613'],
 ['549000', '89.300', '135000', '533000'],
 ['8.2m', '3.1m', '80.600', '113000', '5967'],
 ['4081', '1645', '73.800', 'Top', '3516'],
 ['50.300', '852000', '70.900', '91.600', '53.400'],
 ['1.1m',
  'shoe4africa.org/cause/00ristine-froseth.',
  '17.5m',
  '146000',
  '1.6m'],
 ['1m', '3259', '3724', '653000', 'An'],
 ['46.800', '1.1m', '1.1m', '2.2m', '430000'],
 ['312000', '96.800', '620000', '329000', '770'],
 ['6.4m', '35.200', '687000'],
 ['521000', '112000', '135000', '1849', '314000'],
 ['576000', '81.500', '858', '20.300', '8601'],
 ['118000', '172000', '27.900', '29.200', '46.500'],
 ['725000', '464000', '188'],
 ['1000', '343', '2690', '649', '435'],
 ['32.400', '8m', '530000', '180000', '435000'],
 ['17.5m', '26.7m', '9.7m', '189000', '540'],
 ['467000', '1.1m', '6.4m', 'Emily', '21.4m'],
 ['18', '19.700', '15.900', '10.800', '2848'],
 ['297000', '3584', '843000', '35.800', 'albertojolee.'],
 ['21.2m', '117000', '41.300', '226000', '153000'],
 ['11.800', '130000', '1.4m', '264', '1384'],
 ['19m', '10.8m', '5.8m', '1.6m', '4.3m'],
 ['459000', '3.4m', '582000', '289000', '503000'],
 ['2589', '2776', '6828', '1500', '28.500'],
 ['7m', '3.5m', '39.200', '168', '430'],
 ['2.9m', '8366', '3796', '29', '4193'],
 ['709000', '9.6m', '58.200', 'Nega', '57.700'],
 ['2893', '233000', '678000', '4813', 'ann00athringotze.'],
 ['724'],
 ['3.2m', '17.500', '1m', '2092', '251000'],
 ['177000', '255000', '136000', '4', '2747'],
 ['3.3m', '110000', '117000', '231000', '13.6m'],
 ['1.5m', '2.8m', '550', '1.2m', '365'],
 ['3.7m', '458000', '3.7m', '1.1m', '647000'],
 ['1m', '37.900', '198000'],
 ['1.7m', '21.300', '41.300', '280000', '2350'],
 ['1.8m', '54.400', '167000', '227000', '3242'],
 ['Create'],
 ['abbi', 'Dave', '22.500', '14.200', '180000'],
 ['128000', '298000', '506000', '401000', '6812'],
 ['5150', '12.300', '6672'],
 ['Create'],
 ['39.700', '122000', '21.900', '12.500'],
 ['8.5m', '860000', '553', '336', '287000'],
 ['95.300', '78.300'],
 ['381000', '13.700', '2908', '1.9m', '403000'],
 ['1m', '87.100', '826000', '177', '7m'],
 ['94', '36.900', '2764', '1532', '123'],
 ['8000', '105000', '511000', '31.900', '5800'],
 ['1.4m', '16.8m', '39.400', '430000', '10.800'],
 ['6.2m', '62.900', '7280', '1414', '2911'],
 ['327000', '454000', '632000', '33.100', '86'],
 ['598000', '6m', '7.9m', '6.4m', '949000'],
 ['3m', '1.4m', '79.900', '135000', '1503'],
 ['11.8m', '38.5m', '3.1m', '518', '52.300'],
 ['19m', '5.8m', '10.8m', '1.6m', '1134'],
 ['43m', '285000', '6817', '7757', '193000'],
 ['"Dont"', '17.5m', '4.5m', '3m', '1189'],
 ['737000', '52.800', '7849', '973', '548000'],
 ['13.4m', '1.2m', '234000', '1.1m', '67.900'],
 ['Create'],
 ['3.3m', '6637', '675', '341', '1.9m'],
 ['4445', '1m', 'Open', '100000', '269000'],
 ['393000', '302000', '336000', '14', '256'],
 ['2600', '10.3m', '636', '2778', '122000'],
 ['5500', '61.300', '26.800', '4466', '231000'],
 ['42.600', '3m', '82.100', '158000', '8259'],
 ['512000', '105000', '274000', 'Resines.', '218000'],
 ['26.6m', '19.4m', '894000', '236000', '4.5m'],
 ['14.9m', '26.400', '9.1m', '3212', '4994'],
 ['15.100', '15.800', '5777', '1055', '367'],
 ['1.8m', 'iam00ristindavis.', '186000', '2785', '722'],
 ['1611', '128', 'Style', '2326', '1.8m'],
 ['5235', '290000', '145000', '2445', '72.500'],
 ['1.5m', '113000', '15.200', '6044', '534000'],
 ['1.7m', '5500', '23.100', '38.500', '8800'],
 ['39.7m', '118000', '7300', '1m', '665000'],
 ['17.1m', '321000', '985000', 'Show', '3.7m'],
 ['peeweeherman', '2.4m', '1405', '144000', '2.3m'],
 ['119000', '2.1m', '76.700', '80.700', '160000'],
 ['1186', '5.1m', '161000', '66.800', '19'],
 ['2894', '1742', '3.2m', '16.800', '90.400'],
 ['1.8m', '10.600', '20.900', '252000', '387000'],
 ['26.200', '116000', '59.100', '467000', '4.7m'],
 ['2.8m', '167000', '1431', '17.500', '67.600'],
 ['11.8m', '5817', '3.2m', '11.200'],
 ['4000', '171', '7336', '279', '2m'],
 ['2237', '136000', '8791', '1720', '869'],
 ['3.3m', '984000', '371', '1m', '476'],
 ['183000', '11.400', '8', '6215', '80.200'],
 ['374000', '272000', '474000', '56.200', '53.500'],
 ['212000', '224000', '392000', '346000', '185000'],
 ['838000', '1.1m', '370', '120000', '519'],
 ['23.400', '762000', '2.6m', '29.200', '963000'],
 ['Create'],
 ['7.1m', '110000', '353', '2.3m', '792000'],
 ['163000', '80.100', '33.500', '25.8', '30.400'],
 ['deebradleyba00er.', '641', '1015', '1668', 'Keythe'],
 ['48.500', 'valentina', '34.700', '1111', '165'],
 ['170000', '00arra_elejalde_oficial.', '5580', '312000', 'A'],
 ['138000', '11.7m', 'See'],
 ['1.5m', '@cmxmexico', '1.3m', '949000', '2241'],
 ['12m'],
 ['15'],
 ['7.4m', '623', '374000', '1.2m', '90'],
 ['23.800', '8645', '107000', '141', '722000'],
 ['67.100', '823000', '3.6m', '10.800', '13'],
 ['1.2m', '887000', '1.2m', '491000', '243000'],
 ['4.1m', '2.7m', '6400', '8695', '4.2m'],
 ['45.500', '25.300', '381000', '53.500', '10.800'],
 ['556', '540', '220', '1100'],
 ['17.6m', '891000', '104', 'ɪʟɪᴢᴀ.', '49.900'],
 ['978000', '542000', '129000', '888000', '685'],
 ['42.100', '73.700', '21.100', '367000', '61.200'],
 ['150000', '2.3m', '281000', '164000', '75'],
 ['29.900', '656', '268', '137000', '71.200'],
 ['"Dont"', '17.5m', '8.4m', '3m', '9.4m'],
 ['31.100', '367', '870', '21.900', '2649'],
 ['3.2m', '67.500', '56.700'],
 ['5400', '3796', '31.400', '11.700', '187000'],
 ['319000', '2147', '53', '278000', '1m'],
 ['Edmilson', '1m', '528000', '917000', '456000'],
 ['77.800', '312000', '3270', '1282', '28.400'],
 ['5m', '11.3m', '870000', '1500', '33.800'],
 ['162000', '994000', '861000'],
 ['56m', '142000', '262000', '195000', '3.8m'],
 ['85.800', '82.100', '6309', '783', '3604'],
 ['62.300', '35.400', '91.200', '173', '449000'],
 ['Create'],
 ['10.1m', '1090', '980', '1119', '1m'],
 ['16.3m', '392000', '53.200', '14.100', '18.800'],
 ['9402'],
 ['6057', '1.2m', '"Recomendacioness"', '24.700', '13'],
 ['1.2m', '43m', '5.5m', '5305', '371000'],
 ['Create'],
 ['28.700', '45.900', '666', '80.700', '18.800'],
 ['2.6m', '75.400', '4640', '120000', '104000'],
 ['467000', '5124', '1100', '1.1m', '1.8m'],
 ['269000', '72.900', '10.800', '4302', '454000'],
 ['214000', '292000', '3900', '13.700', '7680'],
 ['598000', '136000', '3m', '112000', '2.3m'],
 ['7m', '472000', '454000', '8162', '43.800'],
 ['10.1m', '281000', '214000', '262000', '6522'],
 ['Lee', '484000', '2m', '214000', '2.7m'],
 ['124', '1.3m', '17.5m', '666', '1831'],
 ['44m', '255000', '1.1m', '19.9m', 'Tame'],
 ['67.900', '2.8m', '1.8m', '11.300', '1820'],
 ['6.1m', '1.1m', 'Antonio', '1777', 'Rafael'],
 ['13', '1358', '13.300'],
 ['5m', '1.1m', '18.700', '92.400', '51.300'],
 ['24.500', '19.500', '213000', '431000'],
 ['332000'],
 ['332000', '2098', '2.8m', '5515', '10.8m'],
 ['275m', '1m', '733000'],
 ['1.8m', '276000', '1496', 'Ja000e', '7151'],
 ['Create'],
 ['13.200', '742000', '1155', '69.800', '962'],
 ['701', '299000', '299000', '870000', '14.800'],
 ['1.1m', '247000', '14', '3716', '14'],
 ['Create'],
 ['1.1m', '3.2m', '17.3m', '6.8m', '3.3m'],
 ['212000', '529000', '1400', '2748', '336'],
 ['11.300', '791000', '1.2m', '225000', '5.1m'],
 ['5.3m', 'Ana.', '1.6m', '3749', '215000'],
 ['2816'],
 ['Create'],
 ['Create'],
 ['58.100'],
 ['1.1m', '5.9m', '371000', '20.600', '262000'],
 ['14.400', '46.900', '3389', '3296', '11.600'],
 ['Create'],
 ['2.3m', '20.6m', '3.3m', '21.4m', '1.8m'],
 ['36.1m', '2.2m', '23.400', '40.800'],
 ['109000', '62.200', 'Verified.', '105000', '19.400'],
 ['3m', '26', '1.6m', '88.700', '3'],
 ['294000', '82.700', '175000', '28.100'],
 ['21.400', '37.400', '475000', '71.300', '7'],
 ['77.700', '868000', '3.9m', '8.3m', '708'],
 ['170000', '6.8m', '1500', '29.200', '3043'],
 ['571000', '12.800', '181000', '161000', '1187'],
 ['Create'],
 ['4.5m', '771000', '151m', '2.3m', '140m'],
 ['459000', '116000', '1.7m', '693000', '1844'],
 ['Create'],
 ['120', '78.800', '352000', '172000', '13.700'],
 ['5.3m', '435000', '372000', '103', '275000'],
 ['35m', '3447', '1.8m', '1.8m'],
 ['11.2m', '8.3m', '3.2m', '10', '22.200'],
 ['842000', '3.2m', '2730', '1.1m', '147000'],
 ['1437', '20.400', '55', '47.700', '2729'],
 ['804000', '18.800', '49.300', '330000', '446000'],
 ['Create'],
 ['131000', '123', '128', '367', '872000'],
 ['118000', '729', '1191', '39', '40'],
 ['11.200', 'Photo', '204000', '1506', '1284'],
 ['41', '292000', '400'],
 ['3.4m', '501000', '1480', '6.3m', '15.300'],
 ['Create'],
 ['74.900', '112000', '3.3m', '192', '15.200'],
 ['254000', '1828', '61.500', 'Profundamente', '319000'],
 ['10.600', '286000', '280000', '34.900', '391000'],
 ['73.500', '949000', '146000', '278000', '18.900'],
 ['Gellért'],
 ['303000', '1090', '50.300', '1.1m', '6704'],
 ['2.8m', '314000', '1.1m', '864000', '4.2m'],
 ['446000', '220000', '90.400'],
 ['22.800', '104000', '35.500', '68.800', '11.500'],
 ['Photo', '96.200', '5582', '60.100', '1168'],
 ['1.7m', '23.7m', '765'],
 ['785000', '6m', '5.7m', '1.4m', '6.4m'],
 ['4302', '2169', '4095', '251000', '987'],
 ['51', '32.800', '4851'],
 ['18.400', '78.700', '8929', 'Jonathan'],
 ['48.700', '2240', '62', '1600', '4924'],
 ['2.5m', '536000', '6.8m', '124000', '2377'],
 ['1.1m', '440000', '336', '40.200', '117000'],
 ['261000', '108000', '126000', '12.700', '3509'],
 ['104000', 'Greta', '14.200', '5', '2104'],
 ['303000', '89.800', '7500', '337000', '815000'],
 ['16.7m', '2.3m', '38.9m', '730000', '26.7m'],
 ['1.2m', '51.300', '29.700', '887000', '1.2m'],
 ['Create'],
 ['116000', '1.6m'],
 ['64.7m', '58.4m'],
 ['7.5m', 'Kim', '16', '267', '154000'],
 ['390', '67.100', '2.4m', '34.800', '2640'],
 ['79.500', '1100', '27.400', '3912', '24.400'],
 ['Create'],
 ['13.2m', '286000', '21.100', '722000', '529000'],
 ['114000', '48', '325000', '4100', '757'],
 ['2.2m', '9895', '2', '10.6m', '27.100'],
 ['Create'],
 ['5562', '803000', '554000', '286000', '396000'],
 ['51.3m', '141000', '3.4m', '11.8m', '3.8m'],
 ['15.300', 'Reagan', '46'],
 ['18.500', '10.600', '3506'],
 ['14.500', '125000', '40.600', '85', '19.300'],
 ['325', '5600', '16.700', '37.200', '17'],
 ['131000', '29.500'],
 ['Create'],
 ['91.600', '84.700', '205000', '5.2m', '324000'],
 ['Create'],
 ['667000', '110m'],
 ['1.3m', '36.200', '34.200', '269000', '904'],
 ['61.600', '963000', '654000', '1.4m', '389000'],
 ['135000', '865000', '1.3m', '1495', '2m'],
 ['14.5m', '1.2m', '371000', '150000', '291000'],
 ['3.5m', '1.3m', '9.8m', '97', '186000'],
 ['4485', '959', '47', '16', '241000'],
 ['538000', '8.3m', '525'],
 ['5.8m'],
 ['377000', '374000', '6.9m', '487000', '3.4m'],
 ['5.6m', '834000', '165', '11.600', '2.2m'],
 ['85.900', '7.7m'],
 ['6.2m', '324000', '324000'],
 ['4548', '1.3m', '398000', 'Verified.', '107000'],
 ['6.7m', '166000', '157000', '79.500', '42.300'],
 ['4.1m', '2.4m', '970', '380000'],
 ['4077'],
 ['32.800', '676', '1046', '1249', '95.900'],
 ['La', '8.6m', '963000', '1.1m', '537000'],
 ['8.6m', '963000', '1.1m', '537000', '11.800'],
 ['7.4m', '11.400', '8.5m', '984000', '269'],
 ['949000'],
 ['Create'],
 ['1.3m', '2m', '865000', '194000', '13'],

In [194]:
# Millions
n = 0

for lista in followers:
    x = 0
    for i in lista:
        if len(i) <= 3:
            followers[n][x] = (i.replace("m", "000000"))
            x += 1
        else:
            x +=1
    n += 1    
    
followers

[['Kozo', '206', '6495', '2282', '12.600'],
 ['106000', '455000', '2581', '10'],
 ['3939', '153000', '8302', '175', '1314'],
 ['12.7m', '101000', '236000', '803000', '870000'],
 ['Create'],
 ['7.3m', '2459', '460', '2661', '180'],
 ['149000', '4.4m'],
 ['13.2m', '56.3m', '796000', '3.8m', '617000'],
 ['2.8m', '193000', '70.500', '1.1m', '288000'],
 ['969000', '224000', '8.1m', '150000'],
 ['3.8m', '4333', '45.400', '17.300', '1074'],
 ['165000', '771000', '45.600', '5800', '403'],
 ['1.1m', '15.1m', '185000', 'Agenciamento', '18.4m'],
 ['975', '2000000', '48.500', '22.700', '231'],
 ['12.4m', '861000', '17.9m', '2090', '11.200'],
 ['4622', '11.1m'],
 ['12.1m', '4272', '192000', 'Related', '107000'],
 ['3.7m', '2', '16.100', '1000000'],
 ['3.6m', '934000'],
 ['1.9m', '52.400', '161', '576', '2.2m'],
 ['81.800', 'Aidan', '529', '179', '361'],
 ['5000000', '6.2m', '104000', '115000', '253000'],
 ['2893', '19.300', '161000', '29', '4083'],
 ['3676'],
 ['40.1m', '3.5m', '4.2m', '293000', '2.1m'],
 ['Create'],
 ['13.9m', '767000', '599000', '111000', '2.9m'],
 ['21000000', '21.300', '193000', '6369', '73.100'],
 ['Photo', '4.1m', '38', '지승현.', '96.800'],
 ['1.9m', '316000', 'Official', '28.600', '2138'],
 ['4.2m', '6.8m', '128m'],
 ['Nat', '1.1m', '6369', '1.2m', '730'],
 ['34000000', '6.9m', '1.3m', '1600', '668000'],
 ['5.4m', '61.500', '430000', 'Photo', '506000'],
 ['10.1m', '1.4m', 'ᴊᴀsᴏɴ', '191000', '1.3m'],
 ['Y', '16.700', 'J', '2135', '16.800'],
 ['16.200', '195000', '78.800', '91.500', 'Contact'],
 ['139000', '565000'],
 ['3.6m', '119000', '821000', '26.500', '83.500'],
 ['Create'],
 ['68.900', '647000', '241000', '922', '638'],
 ['16.500', '135', '530000', '54.400', '164000'],
 ['12.800', '73', '3538', '952000', '771'],
 ['3935', 'Pagina', '1738', '554000', 'Attore', ''],
 ['4493', '1137'],
 ['1.1m', '6.1m', 'Antonio', '456000', 'Rafael'],
 ['Create'],
 ['8682', '3041'],
 ['53.400', '3935', '3155', '465', 'Discover'],
 ['777000', '143000', '1821', 'Gabriel.', '783'],
 ['8.8m', '237'],
 ['333000', '286000', '143000', '135000', '146000'],
 ['Create'],
 ['19000000', '5.8m', '10.8m', '1.6m', '4.3m'],
 ['Create'],
 ['1.2m', '2.8m', '14.200', '1000000'],
 ['11.8m', '6.9m', '5417', '55.600', '2.5m'],
 ['149000', '5600', '11.700', '185', 'ann00athringotze.'],
 ['2209', '71.800', '58.900', '124', '126'],
 ['99.500', 'the', '12.9m', '38.300', '5776'],
 ['4.1m', '1.5m', '13.200', '81.400', '3624'],
 ['56.3m', '3.4m', '525', '52.100'],
 ['389000', '27.800', '39.600', '58.200', '68.100'],
 ['2000000', '1000000', '6969', '7208', '62'],
 ['12000000', '245000', '252000', '628000', '8023'],
 ['53.300', '2.5m', '104000', '9756', 'Mi000e'],
 ['1.2m', '12.4m', '1.2m', '701000', '236000'],
 ['6.4m', '19.2m', '18.1m', '20.900', '4.5m'],
 ['28.800', '3249', '164000', '17.300', '67.600'],
 ['6745', '165000', '29.900'],
 ['48.700', '137000', '25', '5826', '21.300'],
 ['3596', '50.800', '158000', '24.500', '10.600'],
 ['6.1m', '292000', '473000', '718000', '7000'],
 ['343000', '73.100', '7000000', '24.600', '19.300'],
 ['21.4m', '118000', '46.3m', '21.4m', 'Mi00aela.'],
 ['26.400', '3', 'Award', '78.100', '14'],
 ['11.700', '101000', '17.600', '672', '1499'],
 ['192'],
 ['2.4m', '737000', '1.2m', '248', '1000000'],
 ['1.1m', '18.4m', '8504', '107000', '21.4m'],
 ['24.3m', '202000', '372000', '2000000', 'Show'],
 ['Create'],
 ['45.700', '40', '28.600', '23.800', '58.400'],
 ['3.1m', '6.2m', '105000', '913000', '3.2m'],
 ['52.300', '16.100', '808', '388', '220000'],
 ['29.700', '283000', '349000', '29.200', '46.600'],
 ['1.6m', '26.6m', '55.600', '1.4m', '138000'],
 ['11.8m', '4.3m', '5417', '1674', '7409'],
 ['3055', '10', '264', '34.700', '1313'],
 ['47.600', '68.900'],
 ['9904', 'Danté', '별을', '14.100', '4'],
 ['11.8m', '1.7m', '1.4m', '8.3m', '996000'],
 ['2.5m', '461', '1.6m', '113000', '1.6m'],
 ['65.100', '463000', '1.2m', '265000', '21.4m'],
 ['182000', '35.600', '31.500', '349000', '2270'],
 ['11.8m', '1.7m', '1.5m', '131000', '1.4m'],
 ['103000', '1.8m', '118000', '914000', '1.1m'],
 ['263000', '330000', '6908', '9779', '118'],
 ['6.8m', '972000', '3689', '65.1m', '8.6m'],
 ['446000', '501', '378000', '9402', '94.900'],
 ['396000', '124', '131', '4541', '197'],
 ['34.9m', '47.6m', '241', '106'],
 ['212000', '1.6m', '180000', '12.200', '19.800'],
 ['4.5m', '26.100', '17.600', '1.1m', '510'],
 ['53.500', '12.300', '4398', '6900'],
 ['7169', '305', '16.100', '7801', '2320'],
 ['Thanapob_Lee.', '1.1m', '516000'],
 ['408000', '1000000', '1.1m', '4809', '1.8m'],
 ['827', '40', '1303', '4843'],
 ['542000', '151000', '534000', '47.200'],
 ['1.1m', '41.200', '380000', '12.900'],
 ['89.200', '14.2m', '31.700', '12.1m', '95.900'],
 ['9568', '24', '37.500', '85.600', '20.900'],
 ['5.1m', '186000', '6000000', '9039', '373000'],
 ['2795', '32.800', '1831', '110', '1755'],
 ['3.8m', '13.9m', '569000', '9848', '153000'],
 ['8.7m', '1331', '203000', '62.700', '306000'],
 ['5.7m', '375000', '115000', '553000', '637000'],
 ['66.700', '5630', '545', '3068', '888'],
 ['378000', '27.700', '11.900', '2907', '211000'],
 ['335000', '976000'],
 ['576000', '81.500', '858', '20.200', '8601'],
 ['24.400', '70', '1.4m', '1000000', '2296'],
 ['Create'],
 ['718000', '359000', '506000', '451000', '45.400'],
 ['1.1m', '285000', '108000', '1.6m', '26.100'],
 ['6.1m', '466000', '138000', 'Eric', '14.600'],
 ['26.7m', '235000', '1.4m', '118000', '281000'],
 ['2.3m', '576000', '1000000', '99.200', ''],
 ['1000000', '735000', '25.200', '1.2m', '511000'],
 ['43000000', '285000', '134000', '6817', '3938'],
 ['3500', '70.900', '158', '19.900', '4736'],
 ['2.8m', '981000', '2516', '6600', '152000'],
 ['15.600', '15.900', '5125', '26.700', '32.100'],
 ['120000', '72.500', '265000', '1.7m', '11000000'],
 ['377000', '6.3m', '407', '1.1m', '373000'],
 ['4.4m', '969000', '880000', '868000', '...'],
 ['413000', '37.800', '213000', '4236', '168000'],
 ['576000', '81.500', '858', '20.200', '8601'],
 ['5.4m', '2.6m', 'Official', '430000', '163000'],
 ['17.900', '211000', '111000', '977', '2225'],
 ['41.6m', '392000', '842000', '627', '110000'],
 ['588000', '10.900', '5.1m', '160000', '384'],
 ['21000000', 'Show', '56.300', '6784'],
 ['433', '55', 'Shion.', '720000', '740'],
 ['100000', '17', '265000', '19.400', '450000'],
 ['189000', '10.300', '34.100', '151m', '30.100'],
 ['62.300', '181000', '4532', '65.700', '34.200'],
 ['296000', '62.400', '487000', '494000', '749000'],
 ['3000000', '348', '6404', '187000', '10.400'],
 ['16.6m', '3.4m', '7300', '121000', '665000'],
 ['14.800', '868000', '1674', 'anagasteyer.', '39.400'],
 ['6.8m', '7.4m', '459000', '66.800', '32.200'],
 ['2.8m', '3.6m', '396', '3613', '194000'],
 ['277000', '8.8m', '2232'],
 ['2000000', '673000', '396000', '2.6m'],
 ['128m', '536000', '3900', '965'],
 ['3.6m', '2.8m', '221000', '396000', '1561'],
 ['37.900', '7700', 'Show', '1100', '22'],
 ['Nollywood', '376000', 'Pastor', ''],
 ['4831', '9292', '25.600', '116', '283'],
 ['1078', '451'],
 ['198000', '151000', '104000', '710', '1.8m'],
 ['212000', '819000', '1090', '162000', '10.800'],
 ['43000000', '95.100', '637000', '24.900', '97'],
 ['Create'],
 ['26.100', '6551', '3543', '5385', '29'],
 ['39.8m', '184000', '323000', '4.8m'],
 ['667000', '1400', '18', '163000', '327000'],
 ['63.100', '5437', '3615', '9343', '48.300'],
 ['6.8m', '1000000', '150000', '5298', '8468'],
 ['72.700', '16.8m', '262000', '97.400', '908000'],
 ['Create'],
 ['293000', '598000', '410000', '10.900', '8002'],
 ['38.800', '4113', '30.200', '164000', '1.9m'],
 ['8435', '499000', '851000', '5700'],
 ['ɪʟɪᴢᴀ.', '306000', '213000', '91.700', '1.8m'],
 ['3935', '103000', '1738', '20.200', 'Giovanni'],
 ['315000', '4.7m'],
 ['1301'],
 ['807000', '532000', '3000000', '1.5m', '1.7m'],
 ['160000', '25', '283000', '204000', '1135'],
 ['112000', '37.900', '28.700', '454000', '771'],
 ['34.100', '103000', '162000', 'The', '8737'],
 ['6.8m', '41.700', '41.200', '888', '7487'],
 ['16.9m', '5237', '2.8m', '219000', '409000'],
 ['578', '186000', '2.4m', '2000000', '4000000'],
 ['Paco', '26.400', '325000', '154000', '2498'],
 ['42.300', '7650', '293000', '80.700', '14.5m'],
 ['5771', '11.300', '18', '606', '8'],
 ['11.8m', '2.5m', '403000', '16.400', '996000'],
 ['7000000', '4.4m', '63.100', '62.600', '573'],
 ['6.8m', '606000', '282000', '20.100', '42.500'],
 ['7000000', '6941', '80.100', '1643', '4095'],
 ['11.5m', '3.8m', '6.4m', '4.8m', '461'],
 ['174000', '', '33.300', '61.900', '15.300'],
 ['Create'],
 ['803000', '136000', '243000', '2.1m', '3624'],
 ['865000', '2.1m', '167000', '728000', '1331'],
 ['2.8m', '571000', '102000', '409000', '751'],
 ['64.900', '17.600', '16.100', '8957', '321'],
 ['8.3m', '186000'],
 ['20.400',
  '5000000',
  '2.1m',
  '762000',
  'www.netflixqueue.com/delroy-lindo-is-a-legend'],
 ['2.5m', '467000', '324000', '676000', '7'],
 ['3.1m', '1.5m', '1000000', '110000', '25.600'],
 ['84.300', '1295', '7489', 'View', '1077'],
 ['16.800'],
 ['748000', '3.1m', '1.8m', '1000000', '851000'],
 ['2732', '19.4m', 'Mar', '3.5m', '55.400'],
 ['14.2m', '1.1m', '9848', '46.500', '1.1m'],
 ['3.2m', '283000', '67.600', '8897', '613'],
 ['549000', '89.300', '135000', '533000'],
 ['8.2m', '3.1m', '80.600', '113000', '5967'],
 ['4081', '1645', '73.800', 'Top', '3516'],
 ['50.300', '852000', '70.900', '91.600', '53.400'],
 ['1.1m',
  'shoe4africa.org/cause/00ristine-froseth.',
  '17.5m',
  '146000',
  '1.6m'],
 ['1000000', '3259', '3724', '653000', 'An'],
 ['46.800', '1.1m', '1.1m', '2.2m', '430000'],
 ['312000', '96.800', '620000', '329000', '770'],
 ['6.4m', '35.200', '687000'],
 ['521000', '112000', '135000', '1849', '314000'],
 ['576000', '81.500', '858', '20.300', '8601'],
 ['118000', '172000', '27.900', '29.200', '46.500'],
 ['725000', '464000', '188'],
 ['1000', '343', '2690', '649', '435'],
 ['32.400', '8000000', '530000', '180000', '435000'],
 ['17.5m', '26.7m', '9.7m', '189000', '540'],
 ['467000', '1.1m', '6.4m', 'Emily', '21.4m'],
 ['18', '19.700', '15.900', '10.800', '2848'],
 ['297000', '3584', '843000', '35.800', 'albertojolee.'],
 ['21.2m', '117000', '41.300', '226000', '153000'],
 ['11.800', '130000', '1.4m', '264', '1384'],
 ['19000000', '10.8m', '5.8m', '1.6m', '4.3m'],
 ['459000', '3.4m', '582000', '289000', '503000'],
 ['2589', '2776', '6828', '1500', '28.500'],
 ['7000000', '3.5m', '39.200', '168', '430'],
 ['2.9m', '8366', '3796', '29', '4193'],
 ['709000', '9.6m', '58.200', 'Nega', '57.700'],
 ['2893', '233000', '678000', '4813', 'ann00athringotze.'],
 ['724'],
 ['3.2m', '17.500', '1000000', '2092', '251000'],
 ['177000', '255000', '136000', '4', '2747'],
 ['3.3m', '110000', '117000', '231000', '13.6m'],
 ['1.5m', '2.8m', '550', '1.2m', '365'],
 ['3.7m', '458000', '3.7m', '1.1m', '647000'],
 ['1000000', '37.900', '198000'],
 ['1.7m', '21.300', '41.300', '280000', '2350'],
 ['1.8m', '54.400', '167000', '227000', '3242'],
 ['Create'],
 ['abbi', 'Dave', '22.500', '14.200', '180000'],
 ['128000', '298000', '506000', '401000', '6812'],
 ['5150', '12.300', '6672'],
 ['Create'],
 ['39.700', '122000', '21.900', '12.500'],
 ['8.5m', '860000', '553', '336', '287000'],
 ['95.300', '78.300'],
 ['381000', '13.700', '2908', '1.9m', '403000'],
 ['1000000', '87.100', '826000', '177', '7000000'],
 ['94', '36.900', '2764', '1532', '123'],
 ['8000', '105000', '511000', '31.900', '5800'],
 ['1.4m', '16.8m', '39.400', '430000', '10.800'],
 ['6.2m', '62.900', '7280', '1414', '2911'],
 ['327000', '454000', '632000', '33.100', '86'],
 ['598000', '6000000', '7.9m', '6.4m', '949000'],
 ['3000000', '1.4m', '79.900', '135000', '1503'],
 ['11.8m', '38.5m', '3.1m', '518', '52.300'],
 ['19000000', '5.8m', '10.8m', '1.6m', '1134'],
 ['43000000', '285000', '6817', '7757', '193000'],
 ['"Dont"', '17.5m', '4.5m', '3000000', '1189'],
 ['737000', '52.800', '7849', '973', '548000'],
 ['13.4m', '1.2m', '234000', '1.1m', '67.900'],
 ['Create'],
 ['3.3m', '6637', '675', '341', '1.9m'],
 ['4445', '1000000', 'Open', '100000', '269000'],
 ['393000', '302000', '336000', '14', '256'],
 ['2600', '10.3m', '636', '2778', '122000'],
 ['5500', '61.300', '26.800', '4466', '231000'],
 ['42.600', '3000000', '82.100', '158000', '8259'],
 ['512000', '105000', '274000', 'Resines.', '218000'],
 ['26.6m', '19.4m', '894000', '236000', '4.5m'],
 ['14.9m', '26.400', '9.1m', '3212', '4994'],
 ['15.100', '15.800', '5777', '1055', '367'],
 ['1.8m', 'iam00ristindavis.', '186000', '2785', '722'],
 ['1611', '128', 'Style', '2326', '1.8m'],
 ['5235', '290000', '145000', '2445', '72.500'],
 ['1.5m', '113000', '15.200', '6044', '534000'],
 ['1.7m', '5500', '23.100', '38.500', '8800'],
 ['39.7m', '118000', '7300', '1000000', '665000'],
 ['17.1m', '321000', '985000', 'Show', '3.7m'],
 ['peeweeherman', '2.4m', '1405', '144000', '2.3m'],
 ['119000', '2.1m', '76.700', '80.700', '160000'],
 ['1186', '5.1m', '161000', '66.800', '19'],
 ['2894', '1742', '3.2m', '16.800', '90.400'],
 ['1.8m', '10.600', '20.900', '252000', '387000'],
 ['26.200', '116000', '59.100', '467000', '4.7m'],
 ['2.8m', '167000', '1431', '17.500', '67.600'],
 ['11.8m', '5817', '3.2m', '11.200'],
 ['4000', '171', '7336', '279', '2000000'],
 ['2237', '136000', '8791', '1720', '869'],
 ['3.3m', '984000', '371', '1000000', '476'],
 ['183000', '11.400', '8', '6215', '80.200'],
 ['374000', '272000', '474000', '56.200', '53.500'],
 ['212000', '224000', '392000', '346000', '185000'],
 ['838000', '1.1m', '370', '120000', '519'],
 ['23.400', '762000', '2.6m', '29.200', '963000'],
 ['Create'],
 ['7.1m', '110000', '353', '2.3m', '792000'],
 ['163000', '80.100', '33.500', '25.8', '30.400'],
 ['deebradleyba00er.', '641', '1015', '1668', 'Keythe'],
 ['48.500', 'valentina', '34.700', '1111', '165'],
 ['170000', '00arra_elejalde_oficial.', '5580', '312000', 'A'],
 ['138000', '11.7m', 'See'],
 ['1.5m', '@cmxmexico', '1.3m', '949000', '2241'],
 ['12000000'],
 ['15'],
 ['7.4m', '623', '374000', '1.2m', '90'],
 ['23.800', '8645', '107000', '141', '722000'],
 ['67.100', '823000', '3.6m', '10.800', '13'],
 ['1.2m', '887000', '1.2m', '491000', '243000'],
 ['4.1m', '2.7m', '6400', '8695', '4.2m'],
 ['45.500', '25.300', '381000', '53.500', '10.800'],
 ['556', '540', '220', '1100'],
 ['17.6m', '891000', '104', 'ɪʟɪᴢᴀ.', '49.900'],
 ['978000', '542000', '129000', '888000', '685'],
 ['42.100', '73.700', '21.100', '367000', '61.200'],
 ['150000', '2.3m', '281000', '164000', '75'],
 ['29.900', '656', '268', '137000', '71.200'],
 ['"Dont"', '17.5m', '8.4m', '3000000', '9.4m'],
 ['31.100', '367', '870', '21.900', '2649'],
 ['3.2m', '67.500', '56.700'],
 ['5400', '3796', '31.400', '11.700', '187000'],
 ['319000', '2147', '53', '278000', '1000000'],
 ['Edmilson', '1000000', '528000', '917000', '456000'],
 ['77.800', '312000', '3270', '1282', '28.400'],
 ['5000000', '11.3m', '870000', '1500', '33.800'],
 ['162000', '994000', '861000'],
 ['56000000', '142000', '262000', '195000', '3.8m'],
 ['85.800', '82.100', '6309', '783', '3604'],
 ['62.300', '35.400', '91.200', '173', '449000'],
 ['Create'],
 ['10.1m', '1090', '980', '1119', '1000000'],
 ['16.3m', '392000', '53.200', '14.100', '18.800'],
 ['9402'],
 ['6057', '1.2m', '"Recomendacioness"', '24.700', '13'],
 ['1.2m', '43000000', '5.5m', '5305', '371000'],
 ['Create'],
 ['28.700', '45.900', '666', '80.700', '18.800'],
 ['2.6m', '75.400', '4640', '120000', '104000'],
 ['467000', '5124', '1100', '1.1m', '1.8m'],
 ['269000', '72.900', '10.800', '4302', '454000'],
 ['214000', '292000', '3900', '13.700', '7680'],
 ['598000', '136000', '3000000', '112000', '2.3m'],
 ['7000000', '472000', '454000', '8162', '43.800'],
 ['10.1m', '281000', '214000', '262000', '6522'],
 ['Lee', '484000', '2000000', '214000', '2.7m'],
 ['124', '1.3m', '17.5m', '666', '1831'],
 ['44000000', '255000', '1.1m', '19.9m', 'Tame'],
 ['67.900', '2.8m', '1.8m', '11.300', '1820'],
 ['6.1m', '1.1m', 'Antonio', '1777', 'Rafael'],
 ['13', '1358', '13.300'],
 ['5000000', '1.1m', '18.700', '92.400', '51.300'],
 ['24.500', '19.500', '213000', '431000'],
 ['332000'],
 ['332000', '2098', '2.8m', '5515', '10.8m'],
 ['275m', '1000000', '733000'],
 ['1.8m', '276000', '1496', 'Ja000e', '7151'],
 ['Create'],
 ['13.200', '742000', '1155', '69.800', '962'],
 ['701', '299000', '299000', '870000', '14.800'],
 ['1.1m', '247000', '14', '3716', '14'],
 ['Create'],
 ['1.1m', '3.2m', '17.3m', '6.8m', '3.3m'],
 ['212000', '529000', '1400', '2748', '336'],
 ['11.300', '791000', '1.2m', '225000', '5.1m'],
 ['5.3m', 'Ana.', '1.6m', '3749', '215000'],
 ['2816'],
 ['Create'],
 ['Create'],
 ['58.100'],
 ['1.1m', '5.9m', '371000', '20.600', '262000'],
 ['14.400', '46.900', '3389', '3296', '11.600'],
 ['Create'],
 ['2.3m', '20.6m', '3.3m', '21.4m', '1.8m'],
 ['36.1m', '2.2m', '23.400', '40.800'],
 ['109000', '62.200', 'Verified.', '105000', '19.400'],
 ['3000000', '26', '1.6m', '88.700', '3'],
 ['294000', '82.700', '175000', '28.100'],
 ['21.400', '37.400', '475000', '71.300', '7'],
 ['77.700', '868000', '3.9m', '8.3m', '708'],
 ['170000', '6.8m', '1500', '29.200', '3043'],
 ['571000', '12.800', '181000', '161000', '1187'],
 ['Create'],
 ['4.5m', '771000', '151m', '2.3m', '140m'],
 ['459000', '116000', '1.7m', '693000', '1844'],
 ['Create'],
 ['120', '78.800', '352000', '172000', '13.700'],
 ['5.3m', '435000', '372000', '103', '275000'],
 ['35000000', '3447', '1.8m', '1.8m'],
 ['11.2m', '8.3m', '3.2m', '10', '22.200'],
 ['842000', '3.2m', '2730', '1.1m', '147000'],
 ['1437', '20.400', '55', '47.700', '2729'],
 ['804000', '18.800', '49.300', '330000', '446000'],
 ['Create'],
 ['131000', '123', '128', '367', '872000'],
 ['118000', '729', '1191', '39', '40'],
 ['11.200', 'Photo', '204000', '1506', '1284'],
 ['41', '292000', '400'],
 ['3.4m', '501000', '1480', '6.3m', '15.300'],
 ['Create'],
 ['74.900', '112000', '3.3m', '192', '15.200'],
 ['254000', '1828', '61.500', 'Profundamente', '319000'],
 ['10.600', '286000', '280000', '34.900', '391000'],
 ['73.500', '949000', '146000', '278000', '18.900'],
 ['Gellért'],
 ['303000', '1090', '50.300', '1.1m', '6704'],
 ['2.8m', '314000', '1.1m', '864000', '4.2m'],
 ['446000', '220000', '90.400'],
 ['22.800', '104000', '35.500', '68.800', '11.500'],
 ['Photo', '96.200', '5582', '60.100', '1168'],
 ['1.7m', '23.7m', '765'],
 ['785000', '6000000', '5.7m', '1.4m', '6.4m'],
 ['4302', '2169', '4095', '251000', '987'],
 ['51', '32.800', '4851'],
 ['18.400', '78.700', '8929', 'Jonathan'],
 ['48.700', '2240', '62', '1600', '4924'],
 ['2.5m', '536000', '6.8m', '124000', '2377'],
 ['1.1m', '440000', '336', '40.200', '117000'],
 ['261000', '108000', '126000', '12.700', '3509'],
 ['104000', 'Greta', '14.200', '5', '2104'],
 ['303000', '89.800', '7500', '337000', '815000'],
 ['16.7m', '2.3m', '38.9m', '730000', '26.7m'],
 ['1.2m', '51.300', '29.700', '887000', '1.2m'],
 ['Create'],
 ['116000', '1.6m'],
 ['64.7m', '58.4m'],
 ['7.5m', 'Ki000000', '16', '267', '154000'],
 ['390', '67.100', '2.4m', '34.800', '2640'],
 ['79.500', '1100', '27.400', '3912', '24.400'],
 ['Create'],
 ['13.2m', '286000', '21.100', '722000', '529000'],
 ['114000', '48', '325000', '4100', '757'],
 ['2.2m', '9895', '2', '10.6m', '27.100'],
 ['Create'],
 ['5562', '803000', '554000', '286000', '396000'],
 ['51.3m', '141000', '3.4m', '11.8m', '3.8m'],
 ['15.300', 'Reagan', '46'],
 ['18.500', '10.600', '3506'],
 ['14.500', '125000', '40.600', '85', '19.300'],
 ['325', '5600', '16.700', '37.200', '17'],
 ['131000', '29.500'],
 ['Create'],
 ['91.600', '84.700', '205000', '5.2m', '324000'],
 ['Create'],
 ['667000', '110m'],
 ['1.3m', '36.200', '34.200', '269000', '904'],
 ['61.600', '963000', '654000', '1.4m', '389000'],
 ['135000', '865000', '1.3m', '1495', '2000000'],
 ['14.5m', '1.2m', '371000', '150000', '291000'],
 ['3.5m', '1.3m', '9.8m', '97', '186000'],
 ['4485', '959', '47', '16', '241000'],
 ['538000', '8.3m', '525'],
 ['5.8m'],
 ['377000', '374000', '6.9m', '487000', '3.4m'],
 ['5.6m', '834000', '165', '11.600', '2.2m'],
 ['85.900', '7.7m'],
 ['6.2m', '324000', '324000'],
 ['4548', '1.3m', '398000', 'Verified.', '107000'],

In [195]:
df.iloc[30,-1]

"['4.2m', '6.8m', '128m']"

In [196]:
# Only case with more than one hundred million followers: Kevin Hart
followers[30][2] = "128000000"

In [197]:
# Cast everything to integer
n = 0

for lista in followers:
    x = 0
    for i in lista:
        try:
            followers[n][x] = int(i)
            x += 1
        except:
            followers[n][x] = 0
            x += 1
    n += 1    
    
followers

[[0, 206, 6495, 2282, 0],
 [106000, 455000, 2581, 10],
 [3939, 153000, 8302, 175, 1314],
 [0, 101000, 236000, 803000, 870000],
 [0],
 [0, 2459, 460, 2661, 180],
 [149000, 0],
 [0, 0, 796000, 0, 617000],
 [0, 193000, 0, 0, 288000],
 [969000, 224000, 0, 150000],
 [0, 4333, 0, 0, 1074],
 [165000, 771000, 0, 5800, 403],
 [0, 0, 185000, 0, 0],
 [975, 2000000, 0, 0, 231],
 [0, 861000, 0, 2090, 0],
 [4622, 0],
 [0, 4272, 192000, 0, 107000],
 [0, 2, 0, 1000000],
 [0, 934000],
 [0, 0, 161, 576, 0],
 [0, 0, 529, 179, 361],
 [5000000, 0, 104000, 115000, 253000],
 [2893, 0, 161000, 29, 4083],
 [3676],
 [0, 0, 0, 293000, 0],
 [0],
 [0, 767000, 599000, 111000, 0],
 [21000000, 0, 193000, 6369, 0],
 [0, 0, 38, 0, 0],
 [0, 316000, 0, 0, 2138],
 [0, 0, 128000000],
 [0, 0, 6369, 0, 730],
 [34000000, 0, 0, 1600, 668000],
 [0, 0, 430000, 0, 506000],
 [0, 0, 0, 191000, 0],
 [0, 0, 0, 2135, 0],
 [0, 195000, 0, 0, 0],
 [139000, 565000],
 [0, 119000, 821000, 0, 0],
 [0],
 [0, 647000, 241000, 922, 638],
 [0, 135, 530000, 0, 164000],
 [0, 73, 3538, 952000, 771],
 [3935, 0, 1738, 554000, 0, 0],
 [4493, 1137],
 [0, 0, 0, 456000, 0],
 [0],
 [8682, 3041],
 [0, 3935, 3155, 465, 0],
 [777000, 143000, 1821, 0, 783],
 [0, 237],
 [333000, 286000, 143000, 135000, 146000],
 [0],
 [19000000, 0, 0, 0, 0],
 [0],
 [0, 0, 0, 1000000],
 [0, 0, 5417, 0, 0],
 [149000, 5600, 0, 185, 0],
 [2209, 0, 0, 124, 126],
 [0, 0, 0, 0, 5776],
 [0, 0, 0, 0, 3624],
 [0, 0, 525, 0],
 [389000, 0, 0, 0, 0],
 [2000000, 1000000, 6969, 7208, 62],
 [12000000, 245000, 252000, 628000, 8023],
 [0, 0, 104000, 9756, 0],
 [0, 0, 0, 701000, 236000],
 [0, 0, 0, 0, 0],
 [0, 3249, 164000, 0, 0],
 [6745, 165000, 0],
 [0, 137000, 25, 5826, 0],
 [3596, 0, 158000, 0, 0],
 [0, 292000, 473000, 718000, 7000],
 [343000, 0, 7000000, 0, 0],
 [0, 118000, 0, 0, 0],
 [0, 3, 0, 0, 14],
 [0, 101000, 0, 672, 1499],
 [192],
 [0, 737000, 0, 248, 1000000],
 [0, 0, 8504, 107000, 0],
 [0, 202000, 372000, 2000000, 0],
 [0],
 [0, 40, 0, 0, 0],
 [0, 0, 105000, 913000, 0],
 [0, 0, 808, 388, 220000],
 [0, 283000, 349000, 0, 0],
 [0, 0, 0, 0, 138000],
 [0, 0, 5417, 1674, 7409],
 [3055, 10, 264, 0, 1313],
 [0, 0],
 [9904, 0, 0, 0, 4],
 [0, 0, 0, 0, 996000],
 [0, 461, 0, 113000, 0],
 [0, 463000, 0, 265000, 0],
 [182000, 0, 0, 349000, 2270],
 [0, 0, 0, 131000, 0],
 [103000, 0, 118000, 914000, 0],
 [263000, 330000, 6908, 9779, 118],
 [0, 972000, 3689, 0, 0],
 [446000, 501, 378000, 9402, 0],
 [396000, 124, 131, 4541, 197],
 [0, 0, 241, 106],
 [212000, 0, 180000, 0, 0],
 [0, 0, 0, 0, 510],
 [0, 0, 4398, 6900],
 [7169, 305, 0, 7801, 2320],
 [0, 0, 516000],
 [408000, 1000000, 0, 4809, 0],
 [827, 40, 1303, 4843],
 [542000, 151000, 534000, 0],
 [0, 0, 380000, 0],
 [0, 0, 0, 0, 0],
 [9568, 24, 0, 0, 0],
 [0, 186000, 6000000, 9039, 373000],
 [2795, 0, 1831, 110, 1755],
 [0, 0, 569000, 9848, 153000],
 [0, 1331, 203000, 0, 306000],
 [0, 375000, 115000, 553000, 637000],
 [0, 5630, 545, 3068, 888],
 [378000, 0, 0, 2907, 211000],
 [335000, 976000],
 [576000, 0, 858, 0, 8601],
 [0, 70, 0, 1000000, 2296],
 [0],
 [718000, 359000, 506000, 451000, 0],
 [0, 285000, 108000, 0, 0],
 [0, 466000, 138000, 0, 0],
 [0, 235000, 0, 118000, 281000],
 [0, 576000, 1000000, 0, 0],
 [1000000, 735000, 0, 0, 511000],
 [43000000, 285000, 134000, 6817, 3938],
 [3500, 0, 158, 0, 4736],
 [0, 981000, 2516, 6600, 152000],
 [0, 0, 5125, 0, 0],
 [120000, 0, 265000, 0, 11000000],
 [377000, 0, 407, 0, 373000],
 [0, 969000, 880000, 868000, 0],
 [413000, 0, 213000, 4236, 168000],
 [576000, 0, 858, 0, 8601],
 [0, 0, 0, 430000, 163000],
 [0, 211000, 111000, 977, 2225],
 [0, 392000, 842000, 627, 110000],
 [588000, 0, 0, 160000, 384],
 [21000000, 0, 0, 6784],
 [433, 55, 0, 720000, 740],
 [100000, 17, 265000, 0, 450000],
 [189000, 0, 0, 0, 0],
 [0, 181000, 4532, 0, 0],
 [296000, 0, 487000, 494000, 749000],
 [3000000, 348, 6404, 187000, 0],
 [0, 0, 7300, 121000, 665000],
 [0, 868000, 1674, 0, 0],
 [0, 0, 459000, 0, 0],
 [0, 0, 396, 3613, 194000],
 [277000, 0, 2232],
 [2000000, 673000, 396000, 0],
 [0, 536000, 3900, 965],
 [0, 0, 221000, 396000, 1561],
 [0, 7700, 0, 1100, 22],
 [0, 376000, 0, 0],
 [4831, 9292, 0, 116, 283],
 [1078, 451],
 [198000, 151000, 104000, 710, 0],
 [212000, 819000, 1090, 162000, 0],
 [43000000, 0, 637000, 0, 97],
 [0],
 [0, 6551, 3543, 5385, 29],
 [0, 184000, 323000, 0],
 [667000, 1400, 18, 163000, 327000],
 [0, 5437, 3615, 9343, 0],
 [0, 1000000, 150000, 5298, 8468],
 [0, 0, 262000, 0, 908000],
 [0],
 [293000, 598000, 410000, 0, 8002],
 [0, 4113, 0, 164000, 0],
 [8435, 499000, 851000, 5700],
 [0, 306000, 213000, 0, 0],
 [3935, 103000, 1738, 0, 0],
 [315000, 0],
 [1301],
 [807000, 532000, 3000000, 0, 0],
 [160000, 25, 283000, 204000, 1135],
 [112000, 0, 0, 454000, 771],
 [0, 103000, 162000, 0, 8737],
 [0, 0, 0, 888, 7487],
 [0, 5237, 0, 219000, 409000],
 [578, 186000, 0, 2000000, 4000000],
 [0, 0, 325000, 154000, 2498],
 [0, 7650, 293000, 0, 0],
 [5771, 0, 18, 606, 8],
 [0, 0, 403000, 0, 996000],
 [7000000, 0, 0, 0, 573],
 [0, 606000, 282000, 0, 0],
 [7000000, 6941, 0, 1643, 4095],
 [0, 0, 0, 0, 461],
 [174000, 0, 0, 0, 0],
 [0],
 [803000, 136000, 243000, 0, 3624],
 [865000, 0, 167000, 728000, 1331],
 [0, 571000, 102000, 409000, 751],
 [0, 0, 0, 8957, 321],
 [0, 186000],
 [0, 5000000, 0, 762000, 0],
 [0, 467000, 324000, 676000, 7],
 [0, 0, 1000000, 110000, 0],
 [0, 1295, 7489, 0, 1077],
 [0],
 [748000, 0, 0, 1000000, 851000],
 [2732, 0, 0, 0, 0],
 [0, 0, 9848, 0, 0],
 [0, 283000, 0, 8897, 613],
 [549000, 0, 135000, 533000],
 [0, 0, 0, 113000, 5967],
 [4081, 1645, 0, 0, 3516],
 [0, 852000, 0, 0, 0],
 [0, 0, 0, 146000, 0],
 [1000000, 3259, 3724, 653000, 0],
 [0, 0, 0, 0, 430000],
 [312000, 0, 620000, 329000, 770],
 [0, 0, 687000],
 [521000, 112000, 135000, 1849, 314000],
 [576000, 0, 858, 0, 8601],
 [118000, 172000, 0, 0, 0],
 [725000, 464000, 188],
 [1000, 343, 2690, 649, 435],
 [0, 8000000, 530000, 180000, 435000],
 [0, 0, 0, 189000, 540],
 [467000, 0, 0, 0, 0],
 [18, 0, 0, 0, 2848],
 [297000, 3584, 843000, 0, 0],
 [0, 117000, 0, 226000, 153000],
 [0, 130000, 0, 264, 1384],
 [19000000, 0, 0, 0, 0],
 [459000, 0, 582000, 289000, 503000],
 [2589, 2776, 6828, 1500, 0],
 [7000000, 0, 0, 168, 430],
 [0, 8366, 3796, 29, 4193],
 [709000, 0, 0, 0, 0],
 [2893, 233000, 678000, 4813, 0],
 [724],
 [0, 0, 1000000, 2092, 251000],
 [177000, 255000, 136000, 4, 2747],
 [0, 110000, 117000, 231000, 0],
 [0, 0, 550, 0, 365],
 [0, 458000, 0, 0, 647000],
 [1000000, 0, 198000],
 [0, 0, 0, 280000, 2350],
 [0, 0, 167000, 227000, 3242],
 [0],
 [0, 0, 0, 0, 180000],
 [128000, 298000, 506000, 401000, 6812],
 [5150, 0, 6672],
 [0],
 [0, 122000, 0, 0],
 [0, 860000, 553, 336, 287000],
 [0, 0],
 [381000, 0, 2908, 0, 403000],
 [1000000, 0, 826000, 177, 7000000],
 [94, 0, 2764, 1532, 123],
 [8000, 105000, 511000, 0, 5800],
 [0, 0, 0, 430000, 0],
 [0, 0, 7280, 1414, 2911],
 [327000, 454000, 632000, 0, 86],
 [598000, 6000000, 0, 0, 949000],
 [3000000, 0, 0, 135000, 1503],
 [0, 0, 0, 518, 0],
 [19000000, 0, 0, 0, 1134],
 [43000000, 285000, 6817, 7757, 193000],
 [0, 0, 0, 3000000, 1189],
 [737000, 0, 7849, 973, 548000],
 [0, 0, 234000, 0, 0],
 [0],
 [0, 6637, 675, 341, 0],
 [4445, 1000000, 0, 100000, 269000],
 [393000, 302000, 336000, 14, 256],
 [2600, 0, 636, 2778, 122000],
 [5500, 0, 0, 4466, 231000],
 [0, 3000000, 0, 158000, 8259],
 [512000, 105000, 274000, 0, 218000],
 [0, 0, 894000, 236000, 0],
 [0, 0, 0, 3212, 4994],
 [0, 0, 5777, 1055, 367],
 [0, 0, 186000, 2785, 722],
 [1611, 128, 0, 2326, 0],
 [5235, 290000, 145000, 2445, 0],
 [0, 113000, 0, 6044, 534000],
 [0, 5500, 0, 0, 8800],
 [0, 118000, 7300, 1000000, 665000],
 [0, 321000, 985000, 0, 0],
 [0, 0, 1405, 144000, 0],
 [119000, 0, 0, 0, 160000],
 [1186, 0, 161000, 0, 19],
 [2894, 1742, 0, 0, 0],
 [0, 0, 0, 252000, 387000],
 [0, 116000, 0, 467000, 0],
 [0, 167000, 1431, 0, 0],
 [0, 5817, 0, 0],
 [4000, 171, 7336, 279, 2000000],
 [2237, 136000, 8791, 1720, 869],
 [0, 984000, 371, 1000000, 476],
 [183000, 0, 8, 6215, 0],
 [374000, 272000, 474000, 0, 0],
 [212000, 224000, 392000, 346000, 185000],
 [838000, 0, 370, 120000, 519],
 [0, 762000, 0, 0, 963000],
 [0],
 [0, 110000, 353, 0, 792000],
 [163000, 0, 0, 0, 0],
 [0, 641, 1015, 1668, 0],
 [0, 0, 0, 1111, 165],
 [170000, 0, 5580, 312000, 0],
 [138000, 0, 0],
 [0, 0, 0, 949000, 2241],
 [12000000],
 [15],
 [0, 623, 374000, 0, 90],
 [0, 8645, 107000, 141, 722000],
 [0, 823000, 0, 0, 13],
 [0, 887000, 0, 491000, 243000],
 [0, 0, 6400, 8695, 0],
 [0, 0, 381000, 0, 0],
 [556, 540, 220, 1100],
 [0, 891000, 104, 0, 0],
 [978000, 542000, 129000, 888000, 685],
 [0, 0, 0, 367000, 0],
 [150000, 0, 281000, 164000, 75],
 [0, 656, 268, 137000, 0],
 [0, 0, 0, 3000000, 0],
 [0, 367, 870, 0, 2649],
 [0, 0, 0],
 [5400, 3796, 0, 0, 187000],
 [319000, 2147, 53, 278000, 1000000],
 [0, 1000000, 528000, 917000, 456000],
 [0, 312000, 3270, 1282, 0],
 [5000000, 0, 870000, 1500, 0],
 [162000, 994000, 861000],
 [56000000, 142000, 262000, 195000, 0],
 [0, 0, 6309, 783, 3604],
 [0, 0, 0, 173, 449000],
 [0],
 [0, 1090, 980, 1119, 1000000],
 [0, 392000, 0, 0, 0],
 [9402],
 [6057, 0, 0, 0, 13],
 [0, 43000000, 0, 5305, 371000],
 [0],
 [0, 0, 666, 0, 0],
 [0, 0, 4640, 120000, 104000],
 [467000, 5124, 1100, 0, 0],
 [269000, 0, 0, 4302, 454000],
 [214000, 292000, 3900, 0, 7680],
 [598000, 136000, 3000000, 112000, 0],
 [7000000, 472000, 454000, 8162, 0],
 [0, 281000, 214000, 262000, 6522],
 [0, 484000, 2000000, 214000, 0],
 [124, 0, 0, 666, 1831],
 [44000000, 255000, 0, 0, 0],
 [0, 0, 0, 0, 1820],
 [0, 0, 0, 1777, 0],
 [13, 1358, 0],
 [5000000, 0, 0, 0, 0],
 [0, 0, 213000, 431000],
 [332000],
 [332000, 2098, 0, 5515, 0],
 [0, 1000000, 733000],
 [0, 276000, 1496, 0, 7151],
 [0],
 [0, 742000, 1155, 0, 962],
 [701, 299000, 299000, 870000, 0],
 [0, 247000, 14, 3716, 14],
 [0],
 [0, 0, 0, 0, 0],
 [212000, 529000, 1400, 2748, 336],
 [0, 791000, 0, 225000, 0],
 [0, 0, 0, 3749, 215000],
 [2816],
 [0],
 [0],
 [0],
 [0, 0, 371000, 0, 262000],
 [0, 0, 3389, 3296, 0],
 [0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0],
 [109000, 0, 0, 105000, 0],
 [3000000, 26, 0, 0, 3],
 [294000, 0, 175000, 0],
 [0, 0, 475000, 0, 7],
 [0, 868000, 0, 0, 708],
 [170000, 0, 1500, 0, 3043],
 [571000, 0, 181000, 161000, 1187],
 [0],
 [0, 771000, 0, 0, 0],
 [459000, 116000, 0, 693000, 1844],
 [0],
 [120, 0, 352000, 172000, 0],
 [0, 435000, 372000, 103, 275000],
 [35000000, 3447, 0, 0],
 [0, 0, 0, 10, 0],
 [842000, 0, 2730, 0, 147000],
 [1437, 0, 55, 0, 2729],
 [804000, 0, 0, 330000, 446000],
 [0],
 [131000, 123, 128, 367, 872000],
 [118000, 729, 1191, 39, 40],
 [0, 0, 204000, 1506, 1284],
 [41, 292000, 400],
 [0, 501000, 1480, 0, 0],
 [0],
 [0, 112000, 0, 192, 0],
 [254000, 1828, 0, 0, 319000],
 [0, 286000, 280000, 0, 391000],
 [0, 949000, 146000, 278000, 0],
 [0],
 [303000, 1090, 0, 0, 6704],
 [0, 314000, 0, 864000, 0],
 [446000, 220000, 0],
 [0, 104000, 0, 0, 0],
 [0, 0, 5582, 0, 1168],
 [0, 0, 765],
 [785000, 6000000, 0, 0, 0],
 [4302, 2169, 4095, 251000, 987],
 [51, 0, 4851],
 [0, 0, 8929, 0],
 [0, 2240, 62, 1600, 4924],
 [0, 536000, 0, 124000, 2377],
 [0, 440000, 336, 0, 117000],
 [261000, 108000, 126000, 0, 3509],
 [104000, 0, 0, 5, 2104],
 [303000, 0, 7500, 337000, 815000],
 [0, 0, 0, 730000, 0],
 [0, 0, 0, 887000, 0],
 [0],
 [116000, 0],
 [0, 0],
 [0, 0, 16, 267, 154000],
 [390, 0, 0, 0, 2640],
 [0, 1100, 0, 3912, 0],
 [0],
 [0, 286000, 0, 722000, 529000],
 [114000, 48, 325000, 4100, 757],
 [0, 9895, 2, 0, 0],
 [0],
 [5562, 803000, 554000, 286000, 396000],
 [0, 141000, 0, 0, 0],
 [0, 0, 46],
 [0, 0, 3506],
 [0, 125000, 0, 85, 0],
 [325, 5600, 0, 0, 17],
 [131000, 0],
 [0],
 [0, 0, 205000, 0, 324000],
 [0],
 [667000, 0],
 [0, 0, 0, 269000, 904],
 [0, 963000, 654000, 0, 389000],
 [135000, 865000, 0, 1495, 2000000],
 [0, 0, 371000, 150000, 291000],
 [0, 0, 0, 97, 186000],
 [4485, 959, 47, 16, 241000],
 [538000, 0, 525],
 [0],
 [377000, 374000, 0, 487000, 0],
 [0, 834000, 165, 0, 0],
 [0, 0],
 [0, 324000, 324000],
 [4548, 0, 398000, 0, 107000],
 [0, 166000, 157000, 0, 0],
 [0, 0, 970, 380000],
 [4077],
 [0, 676, 1046, 1249, 0],
 [0, 0, 963000, 0, 537000],
 [0, 963000, 0, 537000, 0],
 [0, 0, 0, 984000, 269],
 [949000],
 [0],
 [0, 2000000, 865000, 194000, 13],
 [201000, 750, 6869, 0, 1414],
 [0],
 [0],
 [390],
 [198, 1],
 [0, 1086, 0, 2783, 634],
 [619, 11, 3877, 2, 638000],
 [0, 409000, 352000],
 [0],
 [24000000, 0, 135000, 7650, 614],
 [685000, 0, 2098, 0, 0],
 [0, 0, 0, 0, 102],
 [0, 3043, 2040, 16, 2003],
 [0, 908000, 3842, 468000, 495000],
 [3500, 0, 0, 157000, 0],
 [0, 132000, 0, 0, 0],
 [0],
 [0],
 [0, 0, 3817, 236000, 5945],
 [0, 0, 349000, 232000, 232000],
 [0, 0, 28, 170000, 527000],
 [0, 0, 2854, 0, 141],
 [136000, 0, 24000000, 143, 108000],
 [3245],
 [654000, 0, 164000, 0, 107000],
 [0, 1000000, 0, 702000, 756],
 [100000, 548, 3000000, 0, 130],
 [956000, 0, 0, 0, 120],
 [0, 0, 0, 298000, 134],
 [134000, 0, 751000, 683000],
 [0, 483000],
 [0, 0, 0, 0, 752],
 [0, 1000000, 0, 0, 6978],
 [0, 0, 18, 919000, 0],
 [0, 7903, 0, 578000],
 [0],
 [0, 9563, 0, 0, 647],
 [0, 0, 157000, 531000, 409000],
 [0],
 [364000, 110000, 328000, 0, 392000],
 [628000, 2406, 0, 0, 860000],
 [0, 0, 0, 0, 3689],
 [0, 0, 467000, 874, 0],
 [0],
 [0, 0, 5847, 0, 387000],
 [2548, 0, 866000, 0, 400000],
 [214000, 548, 461, 8324, 598],
 [0, 0, 3158, 2523, 1729],
 [138000, 309, 1025, 0, 712],
 [0],
 [50000000, 918000, 0, 0, 0],
 [0],
 [0],
 [0, 0, 0, 299000, 248],
 [0, 0, 19, 0, 299000],
 [0, 102000, 0],
 [0, 0, 0, 0, 527000],
 [554, 269],
 [122],
 [639000, 139, 3100, 301000, 255000],
 [0],
 [0, 0],
 [863, 0, 1357, 1279],
 [863, 0, 0, 0, 0],
 [0, 131, 0, 1423, 0],
 [0, 0, 1010, 24],
 [0],
 [0, 0, 0, 913000],
 [0, 218000, 0, 676000, 116000],
 [7572, 2624, 0, 0, 0],
 [0, 0, 0, 3000000, 0],
 [126000, 0, 0, 133000, 7999],
 [0, 3970, 3000000, 0, 820],
 [0],
 [5157],
 [0],
 [145000, 0],
 [138000, 440000, 6845, 0, 66],
 [0, 0, 2766, 169000],
 [0, 445000, 25, 7311, 526],
 [839],
 [13000000, 292000, 542000, 0, 0],
 [0, 0, 15, 0, 110000],
 [861000],
 [1034],
 [0],
 [0, 1000000, 454000, 1973, 0],
 [9620, 292000],
 [189000],
 [128000],
 [294000, 8370, 0],
 [444000, 800000, 0, 0, 0],
 [0],
 [0],
 [5693, 0, 689000, 0, 0],
 [0],
 [0],
 [0, 224, 0, 141000, 628000],
 [117000, 1046, 0, 184000, 435],
 [0, 791, 5298, 430000, 0],
 [4479, 16, 117],
 [1100],
 [2900, 1879, 184, 0, 636],
 [231000, 141000, 516000, 0, 0],
 [0],
 [1000000, 0, 19000000, 0, 360000],
 [0, 142000, 512, 268, 0],
 [0, 0, 4143, 0, 119000],
 [0],
 [0],
 [0],
 [0, 1000000, 0, 501, 423],
 [0, 0, 1681, 2026, 302],
 [3376, 0, 1907, 985, 325000],
 [0],
 [0],
 [7700, 0, 0, 192, 0],
 [9400, 0, 7689, 7000000, 24000000],
 [0, 949000, 0, 292000, 523000],
 [4212],
 [0],
 [107000],
 [5000000, 4302, 0, 451000, 0],
 [0, 0, 0, 0, 4973],
 [0],
 [365000],
 [556, 540, 220, 1100],
 [3158, 663],
 [904],
 [0, 0, 933, 0, 0],
 [0, 333000, 149000, 0, 0],
 [4],
 [0, 0, 798000, 116000, 0],
 [651, 53, 0, 1206, 951],
 [847000, 0, 5957, 30, 1963],
 [19],
 [0],
 [0, 0, 0, 2000000, 0],
 [4353, 3877, 11, 448000, 5009],
 [0],
 [4381],
 [0, 718000, 0, 0, 596000],
 [0, 0, 9169, 0],
 [0],
 [0, 177],
 [0, 0, 0, 0, 130000],
 [2513, 798000, 0, 140000, 0],
 [0, 0],
 [174, 636000, 0, 280, 0],
 [489000, 291, 474000],
 [0, 0, 0, 13],
 [0, 0, 0, 0, 0],
 [0],
 [0, 209000, 0, 5000000, 204000],
 [0, 0, 0, 2727],
 [0],
 [1000000, 0, 6129, 0, 0],
 [0, 0, 335, 56, 0],
 [0],
 [0, 540, 0, 140000, 0],
 [0, 7000000, 0, 222000, 0],
 [0, 3, 3100, 0, 0],
 [396000, 457000, 168000, 796000],
 [0, 130000, 790000, 0, 222],
 [238000, 0, 869, 0, 6283],
 [0],
 [5191],
 [0],
 [798000, 0, 0, 0, 0],
 [0, 0, 221000, 0],
 [717000, 0, 977000, 1010, 0],
 [80],
 [0],
 [473000],
 [176000, 5000000, 0, 95, 1060],
 [0],
 [0],
 [0],
 [567000, 1250, 0, 197000],
 [0, 197000, 0, 48],
 [1000000, 0, 172, 333, 1],
 [0],
 [0, 0, 9169, 408000, 1046],
 [0, 0, 0, 799000, 443],
 [0],
 [1700, 18, 5917, 0, 153],
 [2300, 0, 1000000, 0, 131000],
 [585, 185],
 [0],
 [674],
 [188, 7281, 271],
 [0, 0, 479, 4044],
 [107000],
 [0],
 [0, 0, 0, 0, 0],
 [211000, 0, 0, 0],
 [0],
 [0, 0, 187, 2816, 3500],
 [553, 5406, 0, 459000, 155000],
 [581000],
 [1108, 267000],
 [0, 0, 19000000, 0, 546000],
 [0, 0, 0, 0, 0],
 [1724],
 [0],
 [0, 650000, 0, 12000000, 0],
 [0]]

###### Build the column

In [198]:
df["followers"] = [sum(row) for row in followers]
df["followers"]

0          8983
1        563591
2        166730
3       2010000
4             0
         ...
679           0
680        1724
681           0
682    12650000
683           0
Name: followers, Length: 684, dtype: int64

#### Cast and Director columns

In [199]:
n = 0
for row in df["cast"]:
    if row == "[]":
        df.iloc[n, -5] = None
        n += 1
    else:
        n += 1
        
df["cast"].value_counts()

['Simon Greenall', 'Rob Rackstraw', 'Jo Wyatt', 'Keith Wickham']                                                                                                                                                                                                                                                                                                                                                                                                                                                             2
['David Attenborough']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       2
['Shawn Mendes', 'Camila Cabello']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           2
['Walter Mercado', 'Lin-Manuel Miranda', 'Raul de Molina', 'Eugenio Derbez', 'Nydia Caro']                                                                                                                                                                                                                                                                                                                                                                                                                                   1
['Didi Kempot', 'Fransisca Saraswati Puspa Dewi', 'Mo Sidik']                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ..
['Jorge Lendeborg Jr.', 'Debby Ryan', 'Lucy Fry', 'Raúl Castillo', 'Alfie Allen', 'Sydney Sweeney', 'Megan Fox', 'Alexander Ludwig', 'Bryan Batt', 'Marlene Forte', 'Devyn A. Tyler', 'Martin Bats Bradford', 'Hunter Burke', 'Lee Coc', 'Robert Larriviere', 'Jaren Mitchell', 'Nandy Martin', 'Sydney Bell', 'CG Lewis', 'Reginald Robinson', 'Peter Jaymes Jr.']                                                                                                                                                          1
['Tatsuhisa Suzuki', 'Rina Sato', 'Ayaka Asai', 'Kenji Yamauchi', 'Kanehira Yamamoto', 'Koji Ishii', 'Jouji Nakata', 'Kaori Nakamura', 'Kazumasa Nakamura', 'Atsushi Imaruoka', 'Kenjiro Tsuda', 'Naoto Kobayashi', 'Takayuki Ishii', 'Hisako Tojo', 'Kouichi Souma', 'Setsuji Sato', 'Ryunosuke Watanuki', 'Hiromichi Tezuka', 'Ayaka Shimizu', 'Eriko Matsui', 'Hinako Yasuda', 'Hiroomi Tamaru', 'Keisuke Tokumori', 'Maiko Irie', 'Ruriko Aoki', 'Satoshi Inomata', 'Tomohiro Ohmachi', 'Yuina Ito', 'Yūji Kameyama']    1
['Jason Schwartzman', 'J.K. Simmons', 'Rashida Jones', 'Joan Cusack', 'Norm Macdonald', 'Will Sasso', 'Sergio Pablos', 'Sydney Brower', 'Teddy Blum', 'Julian Zane', 'Emma Shannon', 'Kendall Joy Hall', 'Sky Alexis', 'Tucker Meek', 'Amanda Philipson', 'Finn Carr', 'Lucian Perez', 'Emma Yarovinsky', 'Jaeden Bettencourt', 'Evan Agos', 'Leo Miller', 'Matthew McCann']                                                                                                                                                 1
['Jim Parsons', 'Zachary Quinto', 'Matt Bomer', 'Andrew Rannells', 'Michael Benjamin Washington', 'Robin de Jesús', 'Tuc Watkins', 'Charlie Carver', 'Brian Hutchison', 'Brian Dole', "Jack O'Connell", 'Tina Fabrique', 'John DeLuca', 'Julia Parker', 'Paul Chirico']                                                                                                                                                                                                                                                      1
['Leandro Hassum', 'Elisa Pinheiro', 'Arianne Botelho', 'Miguel Rômulo', 'Louise Cardoso', 'Levi Ferreira', 'Danielle Winits', 'José Rubens Chachá', 'Daniel Filho']                                                                                                                                                                                                                                                                                                                                                         1
Name: cast, Length: 614, dtype: int64

In [200]:
n = 0
for row in df["director"]:
    if row == "[]":
        df.iloc[n, -4] = None
        n += 1
    else:
        n += 1
        
df["director"].value_counts()

['Bruno Garotti']        3
['Vince Marcello']       3
['Paul Dugdale']         3
['Leigh Janiak']         3
['McG']                  3
                        ..
['Oliver Kienle']        1
['Noviandra Santosa']    1
['Dan Krauss']           1
['Monty Tiwa']           1
['Siân Heder']           1
Name: director, Length: 617, dtype: int64

## 2. Feature engineering 

Build new columns with the existing columns

### 2.1 Year column

In [201]:
# Column 'Year'
df['year'] = df.premiere.dt.year
df['year']

0      2019
1      2020
2      2019
3      2021
4      2021
       ...
679    2018
680    2015
681    2018
682    2020
683    2020
Name: year, Length: 684, dtype: int64

### 2.2 Month column

In [217]:
# Column 'Month'
df['month'] = df.premiere.dt.month

# Convert the results to string
df['month'] = df['month'].replace(1, 'january')
df['month'] = df['month'].replace(2, 'february')
df['month'] = df['month'].replace(3, 'march')
df['month'] = df['month'].replace(4, 'april')
df['month'] = df['month'].replace(5, 'may')
df['month'] = df['month'].replace(6, 'june')
df['month'] = df['month'].replace(7, 'july')
df['month'] = df['month'].replace(8, 'august')
df['month'] = df['month'].replace(9, 'september')
df['month'] = df['month'].replace(10, 'october')
df['month'] = df['month'].replace(11, 'november')
df['month'] = df['month'].replace(12, 'december')

df['month']

0      december
1           may
2           may
3          june
4          july
         ...
679    november
680    november
681    november
682    november
683    november
Name: month, Length: 684, dtype: object

### 2.3 Year/Month column

In [202]:
# Column 'year/month': will allow group films according to their year and month of release.
df['year/month'] = df.premiere.apply(lambda dt: dt.replace(day=1))
df['year/month']

0     2019-08-01
1     2020-08-01
2     2019-12-01
3     2021-10-01
4     2021-10-01
         ...
679   2018-12-01
680   2015-10-01
681   2018-12-01
682   2020-12-01
683   2020-10-01
Name: year/month, Length: 684, dtype: datetime64[ns]

### 2.4 Weekday column

In [203]:
# Column 'weekday'
df['weekday'] = df.premiere.dt.weekday

# Convert the results to string
df['weekday'] = df['weekday'].replace(0, 'Monday')
df['weekday'] = df['weekday'].replace(1, 'Tuesday')
df['weekday'] = df['weekday'].replace(2, 'Wednesday')
df['weekday'] = df['weekday'].replace(3, 'Thursday')
df['weekday'] = df['weekday'].replace(4, 'Friday')
df['weekday'] = df['weekday'].replace(5, 'Saturday')
df['weekday'] = df['weekday'].replace(6, 'Sunday')

# Check the column
df['weekday']

0        Monday
1        Friday
2      Thursday
3       Tuesday
4        Friday
         ...
679      Monday
680      Friday
681      Sunday
682     Tuesday
683      Sunday
Name: weekday, Length: 684, dtype: object

### 2.5. Column "IMDB Score rolling average": rating's rolling average

In [204]:
# Sort DataFrame by "premiere"
df.sort_values(by = ["premiere"], inplace = True)
df.reset_index(drop = True, inplace = True)

In [205]:
df['score_rolling_average'] = df['imdb_score'].rolling(10).mean()
df['score_rolling_average']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
679    5.61
680    5.56
681    5.71
682    5.72
683    5.92
Name: score_rolling_average, Length: 684, dtype: float64

### 2.6 Column Gender Difference

In [206]:
df.columns

Index(['premiere', 'runtime', 'imdb_score', 'language', 'premiere_year',
       'tmdb_id', 'imdb_id', 'overview', 'vote_average', 'vote_count', 'title',
       'original_title', 'genre_1', 'genre_2', 'country_1', 'country_2',
       'cast', 'director', 'male_actors', 'female_actors', 'followers', 'year',
       'year/month', 'weekday', 'score_rolling_average'],
      dtype='object')

In [207]:
# Total actors column
df["total_actors"] = df["male_actors"] + df["female_actors"]
df["total_actors"]

0       0
1       1
2       9
3       4
4       6
       ..
679     1
680    12
681     1
682     0
683    10
Name: total_actors, Length: 684, dtype: int64

In [208]:
df["gender_difference"] = df["male_actors"] - df["female_actors"]
df["gender_difference"]

0      0
1      1
2     -7
3     -2
4      0
      ..
679   -1
680    0
681    1
682    0
683    0
Name: gender_difference, Length: 684, dtype: int64

In [209]:
df.iloc[683,:]

premiere                                               2021-11-24 00:00:00
runtime                                                                129
imdb_score                                                             6.2
language                                                           English
premiere_year                                                         2021
tmdb_id                                                             718633
imdb_id                                                          tt8310474
overview                 Years after a humiliating defeat, an MMA fight...
vote_average                                                           0.0
vote_count                                                               0
title                                                              Bruised
original_title                                                     Bruised
genre_1                                                              Drama
genre_2                                                               None
country_1                                                   United Kingdom
country_2                                         United States of America
cast                     ['Halle Berry', 'Adan Canto', 'Adriane Lenox',...
director                                                   ['Halle Berry']
male_actors                                                              5
female_actors                                                            5
followers                                                           902353
year                                                                  2021
year/month                                             2021-11-01 00:00:00
weekday                                                          Wednesday
score_rolling_average                                                 5.92
total_actors                                                            10
gender_difference                                                        0
Name: 683, dtype: object

In [210]:
df = df.astype({"gender_difference":"float64"})

In [211]:
for x in range(684):
    if df.iloc[x,-2] == 0:
        df.iloc[x,-1] = None
    else:
        pass
    
df["gender_difference"]

0      NaN
1      1.0
2     -7.0
3     -2.0
4      0.0
      ...
679   -1.0
680    0.0
681    1.0
682    NaN
683    0.0
Name: gender_difference, Length: 684, dtype: float64

## 3. Visualize the final DataFrame

In [212]:
df

,premiere,runtime,imdb_score,language,premiere_year,tmdb_id,imdb_id,overview,vote_average,vote_count,...,director,male_actors,female_actors,followers,year,year/month,weekday,score_rolling_average,total_actors,gender_difference
0,2014-12-13,81,6.4,English,2014,285595,tt3356434,"Rattled by the prospect of becoming a dad, a 4...",7.0,10,...,['David Sampliner'],0,0,0,2014,2014-12-01,Saturday,NaN,0,NaN
1,2015-05-22,83,7.3,English,2015,261039,tt3692768,Drop out of school to ride with the Merry Pran...,7.3,18,...,['Mike Fleiss'],1,0,365000,2015,2015-05-01,Friday,NaN,1,1.0
2,2015-05-29,84,6.1,English,2015,318256,tt4382552,A first-ever look at the realities of the prof...,6.0,452,...,"['Ronna Gradus', 'Jill Bauer']",1,8,7199,2015,2015-05-01,Friday,NaN,9,-7.0
3,2015-06-26,84,7.6,English,2015,318044,tt4284010,The film chronicles Nina Simone's journey from...,7.5,281,...,['Liz Garbus'],1,3,221000,2015,2015-06-01,Friday,NaN,4,-2.0
4,2015-07-17,80,7.4,English,2015,318225,tt3986532,An intimate documentary that follows Tig Notar...,7.2,78,...,"['Kristina Goolsby', 'Ashley York']",3,3,2000000,2015,2015-07-01,Friday,NaN,6,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,2021-11-05,107,6.8,Spanish,2021,701524,tt14035242,This documentary walks the line between fact a...,7.0,9,...,['Alonso Ruizpalacios'],0,1,4077,2021,2021-11-01,Friday,5.61,1,-1.0
680,2021-11-10,98,6.8,English,2021,541524,tt8893974,"In 1920s New York City, a Black woman finds he...",7.1,20,...,['Rebecca Hall'],6,6,102,2021,2021-11-01,Wednesday,5.56,12,0.0
681,2021-11-11,90,7.8,Portuguese,2021,785538,tt14168118,To provide a better life for his family in the...,6.0,2,...,['Alexandre Moratto'],1,0,0,2021,2021-11-01,Thursday,5.71,1,1.0
682,2021-11-19,118,7.2,English,2021,869623,tt14300912,Six men who were sexually abused by Catholic c...,0.0,0,...,['Robert Greene'],0,0,0,2021,2021-11-01,Friday,5.72,0,NaN
683,2021-11-24,129,6.2,English,2021,718633,tt8310474,"Years after a humiliating defeat, an MMA fight...",0.0,0,...,['Halle Berry'],5,5,902353,2021,2021-11-01,Wednesday,5.92,10,0.0

### 3.1 Order the columns

In [213]:
len(df.columns.values)

27

In [218]:
df = df[[
    "tmdb_id",
    "imdb_id",
    "title",
    "original_title",
    "premiere",
    "year",
    "month",
    "year/month",
    "weekday",
    "language",
    "runtime",
    "genre_1",
    "genre_2",
    "country_1",
    "country_2",
    "overview",
    "cast",
    "director",
    "male_actors",
    "female_actors",
    "total_actors",
    "gender_difference",
    "vote_count",
    "vote_average",
    "followers",
    "imdb_score",
    "score_rolling_average"
]]

In [219]:
df.head()

,tmdb_id,imdb_id,title,original_title,premiere,year,month,year/month,weekday,language,...,director,male_actors,female_actors,total_actors,gender_difference,vote_count,vote_average,followers,imdb_score,score_rolling_average
0,285595,tt3356434,My Own Man,My Own Man,2014-12-13,2014,december,2014-12-01,Saturday,English,...,['David Sampliner'],0,0,0,NaN,10,7.0,0,6.4,NaN
1,261039,tt3692768,"The Other One: The Long, Strange Trip of Bob Weir","The Other One: The Long, Strange Trip of Bob Weir",2015-05-22,2015,may,2015-05-01,Friday,English,...,['Mike Fleiss'],1,0,1,1.0,18,7.3,365000,7.3,NaN
2,318256,tt4382552,Hot Girls Wanted,Hot Girls Wanted,2015-05-29,2015,may,2015-05-01,Friday,English,...,"['Ronna Gradus', 'Jill Bauer']",1,8,9,-7.0,452,6.0,7199,6.1,NaN
3,318044,tt4284010,"What Happened, Miss Simone?","What Happened, Miss Simone?",2015-06-26,2015,june,2015-06-01,Friday,English,...,['Liz Garbus'],1,3,4,-2.0,281,7.5,221000,7.6,NaN
4,318225,tt3986532,Tig,Tig,2015-07-17,2015,july,2015-07-01,Friday,English,...,"['Kristina Goolsby', 'Ashley York']",3,3,6,0.0,78,7.2,2000000,7.4,NaN

## 4. Save DataFrame

In [221]:
df.to_excel("final_netflix_df_clean.xlsx", index = False)